<!--
  Generated template for the Connectivity page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Connection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#eee;">
  <ion-item no-lines style="background:transparent;">
    <ion-label>Connectivity</ion-label>
    <ion-toggle [(ngModel)]="isConnectivityEnabled"></ion-toggle>
  </ion-item>
  <div *ngIf="isConnectivityEnabled">
    <ion-list>
      <ion-item *ngFor="let ser of servers">
        <ion-label>Title</ion-label>
      </ion-item>
    </ion-list>
    
    <ion-card *ngFor="let server of connections">
      <ion-item>
        <ion-row>
          <ion-col>
            <h2>{{server._name}}</h2>
          </ion-col>
          <ion-col style="width: auto; flex: 0 0 auto;" [style.color]="getStatusColor(server.status)">
            <ion-icon *ngIf="server.connected" name="wifi"></ion-icon>
            <ion-icon *ngIf="!server.saved && !server.connected" name="link"></ion-icon>
          </ion-col>
          <ion-col style="width: auto; flex: 0 0 auto;">
            <h3 style="margin-bottom:10px;" [style.color]="getStatusColor(server.status)">{{server.status}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>IP Address</p>
          </ion-col>
          <ion-col style="width: auto; flex: 0 0 auto;">
            <h3>{{server._Location}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Description</p>
          </ion-col>
          <ion-col style="width: auto; flex: 0 0 auto;">
            <h3>{{server._Information}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button block outline small color="dark" *ngIf="server.saved && server.available" (click)="forget(server)">Forget</button>
          </ion-col>
          <ion-col>
            <button ion-button block small *ngIf="!server.saved" (click)="connect(server)" [style.background-color]="getStatusColor(server.status)">Pair</button>
            <button ion-button block small *ngIf="!server.connected && server.saved && server.available" (click)="connect(server)">Connect</button>
            <button ion-button block outline small *ngIf="server.connected" (click)="disconnect(server)">Disconnect</button>
            <button ion-button block outline small color="dark" *ngIf="!server.available" (click)="forget(i)">Forget</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>


</ion-content>