<!--
  Generated template for the Connectivity page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Connection</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="isConnectivityEnabled" (click)="refreshConnection()"><ion-icon name="refresh"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f4f4f4;" style="position: relative;">
  <ion-item no-lines style="background:transparent;">
    <ion-label>Connectivity</ion-label>
    <ion-toggle [(ngModel)]="isConnectivityEnabled" (ngModelChange)="connectivityChanged(isConnectivityEnabled)"></ion-toggle>
  </ion-item>
  <div *ngIf="isConnectivityEnabled">
    <ion-list>
      <ion-card *ngFor="let server of servers; let i = index;">
        <ion-item>
          <ion-row>
            <ion-col style="overflow: hidden;text-overflow: ellipsis;">
              <h2>{{server.Data.Name}}</h2>
            </ion-col>
            <ion-col style="width: auto; flex: 0 0 auto;" [style.color]="getStatusColor(server.status)">
              <ion-icon *ngIf="server.connected" name="wifi"></ion-icon>
              <ion-icon *ngIf="!server.saved && !server.connected" name="link"></ion-icon>
            </ion-col>
            <ion-col center style="width: auto; flex: 0 0 auto;">
              <h3 style="margin-bottom:10px;" [style.color]="getStatusColor(server.status)">{{server.status}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col center>
              <p>IP Address</p>
            </ion-col>
            <ion-col style="width: auto; flex: 0 0 auto;overflow: hidden;text-overflow: ellipsis;">
              <h3>{{server.Address}}</h3>
            </ion-col>
          </ion-row>
          <ion-row style="overflow: hidden;text-overflow: ellipsis;">
            <ion-col center>
              <p>Description</p>
            </ion-col>
            <ion-col style="width: auto; flex: 0 0 auto;">
              <h3>{{server.Data.Information}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button block outline small color="dark" *ngIf="server.saved && server.available" (click)="forget(server)">Forget</button>
            </ion-col>
            <ion-col>
              <button ion-button block small *ngIf="!server.saved" (click)="connect(server)" [style.background-color]="getStatusColor(server.status)">Pair</button>
              <button ion-button block small *ngIf="!server.connected && server.saved && server.available" (click)="connect(server)">Connect</button>
              <button ion-button block outline small *ngIf="server.connected" (click)="disconnect(server)">Disconnect</button>
              <button ion-button block outline small color="dark" *ngIf="!server.available" (click)="forget(server)">Forget</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
  <ion-row style="position: absolute; height:80%; color: gray;">
			<ion-col text-center center >
				<span *ngIf="servers.length == 0 && isConnectivityEnabled">No server found</span>
        <span *ngIf="!isConnectivityEnabled">Connectivity is off</span>
			</ion-col>
		</ion-row>

</ion-content>