<div class="row">
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-body p-2">
        <div class="position-relative">
          <div plyr plyrTitle="Video" [plyrPlaysInline]="true"  
          [plyrPoster]="poster" [plyrSources]="videoSources" 
          [plyrTracks]="tracks" [plyrOptions]="plyrOptions"></div>
          <!-- <app-media-player [options]="playerOptions" >
           
          </app-media-player> -->
        </div>
      </div>

      <div class="card-body">
        <div class="position-relative">
          <button class="btn" (click)=" Play()" class="btn btn-primary">Play</button>
          <button clas="btn" (click)=" Pause()" class="btn btn-primary">Pause</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body p-2">
        <div class="position-relative; table-responsive">
          <table class="table">
            <tr>
              <th colspan="7" id="tagging">TAGGING FORM</th>
            </tr>
            <tr>
              <th colspan="7">Runs</th>
            </tr>
            <tr>
              <td colspan="7">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="runs">
                  
                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="runsModel"(ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="0"/>0 </label>

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="runsModel"(ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="1"/>1 </label>

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="runsModel"(ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="2" />2
                  </label>

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="runsModel"(ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" value="4"/>4 </label>

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="runsModel"(ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="6" />6
                  </label>

                </div>

              </td>
            </tr>
            <tr>
              <th colspan="7">Bowler</th>
            </tr>
            <tr>
              <td colspan="7">
                <div class="btn-group btn-group-toggle"  ngbRadioGroup name="BowlerNumber">

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect [(ngModel)]="bowlerModel"
                   (ngModelChange)="onNgModelChange($event)" >
                   <input ngbButton type="radio" [value]="22" />22 </label>

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="bowlerModel" (ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="15" />15 </label>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="7">Batsman</td>
            </tr>
            <tr>
              <td colspan="7">
                <div class="btn-group btn-group-toggle"  ngbRadioGroup name="BowlerNumber">

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                   [(ngModel)]="batsmanModel" (ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="18"  />18 </label>

                  <label ngbButtonLabel class="btn-outline-primary" ngDefaultControl rippleEffect
                    [(ngModel)]="batsmanModel" (ngModelChange)="onNgModelChange($event)">
                    <input ngbButton type="radio" [value]="27" />27 </label>
                </div>
              </td>
            </tr>
            <tr>
              <td [hidden]="taggingInProgress" colspan="7" style="background-color: #FFFFFF;"><button type="button"
                  class="btn btn-info btn-block" (click)="review()"> Review </button></td>
              <td [hidden]="!taggingInProgress" colspan="7" style="background-color: #FFFFFF;"><button type="button"
                  class="btn btn-info btn-block" (click)="addDelivery()"> Delivery </button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<p>
  <strong>Session:</strong> {{session}}
</p>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body p-2">
        <div class="position-relative; table-responsive">
          <table class="table">
            <tr>
              <th> DeliveryTime</th>
              <th> LeadTime </th>
              <th> LagTime</th>
              <th> DeliveryCounter</th>
              <th> BowlerNumber</th>
              <th> BatsmanNumber</th>
              <th> Runs</th>
            </tr>
            <tr *ngFor="let com of deliveries">
              <th>{{com.DeliveryTime}}</th>
              <th>{{com.LeadTime}}</th>
              <th>{{com.LagTime}}</th>
              <th>{{com.DeliveryCounter}}</th>
              <th>{{com.BowlerNumber}}</th>
              <th>{{com.BatsmanNumber}}</th>
              <th>{{com.Runs}}</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>