
<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-body p-2">
                <div class="position-relative">
                  <app-calendar></app-calendar>
                    <app-media-player></app-media-player>
                </div>
            </div>
            <div class="card-body">
                <div class="position-relative">
                <button class="btn"  class="btn btn-primary">Play</button>
                <button clas="btn"   class="btn btn-primary">Pause</button>
              </div>
              </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body p-2">
            <div class="position-relative; table-responsive">
              <table class="table">
                <tr>
                  <th colspan="7" id="tagging">TAGGING FORM</th>
                </tr>
                <tr>
                  <th colspan="7">Runs</th>  
                </tr>
                <tr>
                  <td colspan="7">
                    <div class="btn-group" name="runs">
                      <label class="btn btn-outline-primary"  btnRadio="0" tabindex="0"
                        role="button" >0</label>
                      <label class="btn btn-outline-primary"  btnRadio="1" tabindex="0"
                        role="button" >1</label>
                      <label class="btn btn-outline-primary"  btnRadio="2" tabindex="0"
                        role="button" >2</label>
                      <label class="btn btn-outline-primary"  btnRadio="4" tabindex="0"
                          role="button" >4</label>
                      <label class="btn btn-outline-primary"  btnRadio="6" tabindex="0"
                          role="button" >6</label>
                    </div>
                </tr>
                <tr>
                    <th  colspan="7">Bowler</th>   
                </tr>
                <tr>
                    <td colspan="7">
                    <div class="btn-group" name="bowler">
                      <label class="btn btn-outline-primary"  btnRadio="22" tabindex="0"
                        role="button" >22</label>
                      <label class="btn btn-outline-primary"  btnRadio="15" tabindex="0"
                        role="button" >15</label>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">Batsman</td>
                </tr>
                <tr>
                  <td colspan="7">
                  <div class="btn-group" name="batsman">
                    <label class="btn btn-outline-primary"  btnRadio="18" tabindex="0"
                      role="button" >18</label>
                    <label class="btn btn-outline-primary"  btnRadio="27" tabindex="0"
                      role="button" >27</label>
                  </div>
                  </td>           
              </tr>
                <tr>
                  <td  colspan="7" style="background-color: #FFFFFF;"><button type="button" class="btn btn-info btn-block" > Review </button></td>
                  <td  colspan="7" style="background-color: #FFFFFF;"><button type="button" class="btn btn-info btn-block" > Delivery </button></td>
              </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- <p>
        <strong>Session:</strong> {{session}}
        </p> -->
    
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body p-2">
              <div class="position-relative; table-responsive">
                <table  class="table">
                  <tr>
                     <th> DeliveryTime</th> 
                     <th> LeadTime </th>
                     <th> LagTime</th>
                     <th> DeliveryCounter</th>
                     <th> BowlerNumber</th>
                     <th> BatsmanNumber</th>
                     <th> Runs</th>
                  </tr>
                  <tr >
                    <th>comDeliveryTime</th> 
                    <th>comLeadTime</th>
                    <th>comLagTime</th>
                    <th>comDeliveryCounter</th>
                    <th>comBowlerNumber</th>
                    <th>comBatsmanNumber</th>
                    <th>comRuns</th>
                 </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
