<ion-header no-shadow>
    <ion-toolbar color="primary" no-border-bottom>

        <ion-buttons end>            
            <button ion-button icon-only (click)="presentLogin()" *ngIf="!LoginAvailable">
                <ion-icon name="person"></ion-icon>
            </button>
            <button ion-button icon-only (click)="presentRegister()" *ngIf="LoginAvailable">
                <ion-icon name="person-add"></ion-icon>
            </button>            
        </ion-buttons>

       <ion-title>{{IsLoginAvailable}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="LoginAvailable">
        <ion-item>
            <ion-label style="width:115px;color:gray">Username</ion-label>
            <ion-input value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="width:115px;color:gray">Password</ion-label>
            <ion-input value="" type="password"></ion-input>
        </ion-item>
    </ion-list>
    <div class="padding" *ngIf="LoginAvailable">
        <button ion-button (click)="dismiss()">Close</button>
        <button ion-button (click)="dismiss()">Log-In</button>
    </div>
    <ion-list *ngIf="!LoginAvailable">
        <ion-item>
            <ion-label style="width:115px;color:gray">Username</ion-label>
            <ion-input value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="width:115px;color:gray">First Name</ion-label>
            <ion-input value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="width:115px;color:gray">Last Name</ion-label>
            <ion-input value=""></ion-input>
        </ion-item>
    </ion-list>
    <div class="padding" *ngIf="!LoginAvailable">
        <button ion-button (click)="dismiss()">Close</button>
        <button ion-button (click)="dismiss()">Register</button>

    </div>
</ion-content>