<div class="content-wrapper">
    <div class="content-body">
        <!-- page users view start -->
        <section class="app-user-view">
            <!-- User Card & Plan Starts -->
            <div class="row">

                <div class="col-xl-2 col-lg-2 col-md-2">
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="card-body">
                        <div class="bg-light-primary rounded-top text-center">
                            <img src="assets/images/illustration/email.svg" alt="Meeting Pic" height="130" />
                        </div>
                        <div class="card shadow-none bg-transparent">
                            <div class="card-body">
                                <div class="text-body">
                                <p><b>Team A</b></p>
                                <p>10-3</p>
                            </div>
                            </div>
                            </div>
                   </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="card-body">
                        <h5 class="header">Up Next</h5>
                        <div class="text-body">
                            <p>Away Game</p>
                            <p class="badge badge-light-primary">Non-League</p>
                            <p><b>Sat, 5/22</b></p>
                            <p>4:00 PM</p>
                        </div>
                        <button class="btn btn-dark text-center btn-block" rippleEffect>Preview</button>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="card-body">
                        <div class="bg-light-primary rounded-top text-center">
                            <img src="assets/images/illustration/email.svg" alt="Meeting Pic" height="130" />
                        </div>
                        <div class="card shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="text-body">
                            <p><b>Team B</b></p>
                            <p>8-3</p>
                            </div>
                        </div>
                        </div>
                   </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2">
                </div>

            </div>
            <!-- User Card & Plan Ends -->

            <!-- User Timeline & Permissions Starts -->
            <div class="row">
                <!-- information starts -->
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td><b>Sat, 15/22</b>
                                <p>11:00 PM<p>
                                </td>
                                <td>
                                    <div
                                      data-toggle="tooltip"
                                      data-popup="tooltip-custom"
                                      placement="top"
                                      container="body"
                                      title=""
                                      class="avatar pull-up my-0"
                                      ngbTooltip="Lilian Nenez">
                                      <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="40" width="40" />
                                    </div>
                                </td>
                                <td><b>St. Francis</b> (Hamburg)
                                <p>Home - Non-League</p>
                                </td>
                                <td> <button type="button" class="btn btn-link">Preview</button></td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                </div>
                <!-- information Ends -->
            </div>
            <!-- User Timeline & Permissions Ends -->
        </section>
    </div>
</div>