<div class="sidebar-wrapper">

  <div class="card-body pb-0">
    <h5 class="section-label mb-1">
      <span class="align-middle">Filter</span>
    </h5>
    <div class="custom-control custom-checkbox mb-1">
      <input 
      type="checkbox"
      class="custom-control-input select-all"
      id="select-all"
      [checked]="checkAll"
      
      (change)="toggleCheckboxAll($event)" />
      
      <label class="custom-control-label" for="select-all">View All</label>
    </div>
    <div class="coaches-filter">

      <div class="custom-control  custom-checkbox mb-1 custom-control-{{ checkboxarrays.color }}"
        *ngFor="let checkboxarrays of gameFilter">
     
        <input (change)="onChange($event,checkboxarrays.id)" 
        class="custom-control-input input-filter"
        
        [checked]="checkboxarrays.checked" 
        type= "checkbox" 
         id="checkboxarrays-{{ checkboxarrays.id }}" 
         value={{checkboxarrays.filter}} />
           
        <label class="custom-control-label" 
        for="checkboxarrays-{{ checkboxarrays.id }}"
       >{{ checkboxarrays.filter }}</label>
        <!--  -->
      </div>

    </div>

  </div>

<!-- </div>
  </div>
</div> -->
<div class="mt-auto">
  <img src="assets/images/pages/calendar-illustration.png" alt="Calendar illustration" class="img-fluid" />
</div>
<!-- </div>
</div> -->