<!--ViewVideoTemplate-->

<ion-grid *ngIf="videoSrcAvailable" no-padding style="height: 100%;">
	<ion-row style="height: 100%;position: relative;">
		<video #video preload="auto" style="position: absolute; background-color:black;" poster="assets/sample.jpg" [src]="returnVidPath(view.Content.Capture._Kernel)"
			width="100%" height="100%"></video>
		<svg *ngFor="let obj of objects;" [ngSwitch]="obj.key" [attr.viewBox]="viewBoxSize" height="100%" width="100%" style="position:absolute">
			<rect *ngSwitchCase="'Rectangle'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
				[attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness"
				[attr.opacity]="obj.val._Opacity" />
			<ellipse *ngSwitchCase="'Ellipse'" [attr.cx]="sum(obj.val._Left, obj.val._CenterX)" [attr.cy]="sum(obj.val._Top, obj.val._CenterY)"
				[attr.rx]="obj.val._Width/2" [attr.ry]="obj.val._Height/2" [attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)"
				[attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity" />
			<line *ngSwitchCase="'LineObject'" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2" [attr.y2]="obj.val._Y2"
				[attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
			/>
			<text *ngSwitchCase="'RichTextObject'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.font-size]="obj.val._FontSize"
				[attr.fill]="clrCvt(obj.val._Foreground)" [attr.opacity]="obj.val._Opacity">Video</text>
			<image *ngSwitchCase="'Picture'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
				xlink:href="assets/sample.jpg" />
			<defs *ngSwitchCase="'Arrow'">
				<marker id="videoarrow" viewBox="0 0 14 14" markerWidth="6" markerHeight="6" refX="9" refY="6" orient="auto">
					<path d="M0,0 L0,12 L12,6 L0,0" [attr.fill]="clrCvt(obj.val._Stroke)"></path>
				</marker>
			</defs>
			<line *ngSwitchCase="'Arrow'" #arrow marker-end="url(#videoarrow)" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2"
				[attr.y2]="obj.val._Y2" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
			/>
			<image *ngSwitchCase="'Ink'" #Ink x="0" y="0" width="100%" height="100%" xlink:href="assets/inksample.gif" />
		</svg>
		<div style="position:absolute;height:100%;width:100%;">
			<div>
				<svg *ngFor="let obj of markersobjects;" [ngSwitch]="obj.key" [attr.viewBox]="viewBoxSize" height="100%" width="100%" style="position:absolute">
					<rect *ngSwitchCase="'Rectangle'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
						[attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness"
						[attr.opacity]="obj.val._Opacity" />
					<ellipse *ngSwitchCase="'Ellipse'" [attr.cx]="sum(obj.val._Left, obj.val._CenterX)" [attr.cy]="sum(obj.val._Top, obj.val._CenterY)"
						[attr.rx]="obj.val._Width/2" [attr.ry]="obj.val._Height/2" [attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)"
						[attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity" />
					<line *ngSwitchCase="'LineObject'" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2" [attr.y2]="obj.val._Y2"
						[attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
					/>
					<text *ngSwitchCase="'RichTextObject'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.font-size]="obj.val._FontSize"
						[attr.fill]="clrCvt(obj.val._Foreground)" [attr.opacity]="obj.val._Opacity">Video</text>
					<image *ngSwitchCase="'Picture'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
						xlink:href="assets/sample.jpg" />
					<defs *ngSwitchCase="'Arrow'">
						<marker id="markerarrow" viewBox="0 0 14 14" markerWidth="6" markerHeight="6" refX="9" refY="6" orient="auto">
							<path d="M0,0 L0,12 L12,6 L0,0" [attr.fill]="clrCvt(obj.val._Stroke)"></path>
						</marker>
					</defs>
					<line *ngSwitchCase="'Arrow'" #arrow marker-end="url(#markerarrow)" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2"
						[attr.y2]="obj.val._Y2" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
					/>
					<image *ngSwitchCase="'Ink'" #Ink x="0" y="0" width="100%" height="100%" xlink:href="assets/inksample.gif" />
				</svg>
			</div>
		</div>
	</ion-row>
	<ion-row *ngIf="videoSrcAvailable" style="height: auto; flex: 0 0 auto;" color="dark">
		<ion-col no-padding>
			<ion-grid no-padding>
				<ion-row>
					<ion-col padding-left padding-right>
						<ion-row>
							<ion-col #markersContainer no-padding (window:resize)="onResize($event)">
								<button ion-button icon-only clear color="inactive" *ngFor="let marker of markers;let i = index" [class.markerselected]="marker.checked"
									[style.left]="marker.Left" style="width:18px;height:26px;margin:0 -9px;" (click)="updateSelection(i,marker.checked)"
									(press)="deleteMarker(i)">
										<ion-icon name="pin"></ion-icon>
										</button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col no-padding>
								<ion-range style="padding:0;height:25px" min="0" max="100000" step="0.01" [(ngModel)]="sliderValue" (ionChange)="sliderValueChange()"></ion-range>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
				<ion-row padding-horizontal>
					<ion-col no-padding style="width: 100%; color: gray;">
						{{timelinePosition}}
					</ion-col>
					<ion-col no-padding style="width: auto; flex: 0 0 auto; color: gray;">
						{{timelineDuration}}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col no-padding style="width: 100%;">
						<ion-row>
							<ion-col no-padding>
								<button no-margin ion-button icon-only clear (click)="MuteVideo()"> <ion-icon name="{{volumeButtonIcon}}"></ion-icon></button>
							</ion-col>
							<ion-col no-padding>
								<button no-margin ion-button icon-only clear (click)="playbackRateVideo()" style="width:50px;">{{video.playbackRate}}x</button>
							</ion-col>
							<ion-col no-padding>
								<button no-margin ion-button icon-only clear color="{{repeatColor}}" (click)="repeatVideo()"><ion-icon name="repeat"></ion-icon></button>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col no-padding center style="width: auto; flex: 0 0 auto;">
						<button no-margin ion-button icon-only clear (click)="playPause()"><ion-icon name="{{playPauseButtonIcon}}"></ion-icon></button>
					</ion-col>
					<ion-col no-padding style="width: 100%;">
						<ion-row>
							<ion-col no-padding text-center style="width: 100%;">
								<button no-margin ion-button icon-only clear (click)="previousVideoFrame()"><ion-icon name="rewind"></ion-icon></button>
								<button no-margin ion-button icon-only clear (click)="nextVideoFrame()"><ion-icon name="fastforward"></ion-icon></button>
							</ion-col>
							<ion-col no-padding center text-center style="width:auto;flex:0 0 auto;">
								<button ion-button icon-only clear no-margin (click)="addMarker()">
							<ion-icon name="pin"></ion-icon>
							</button>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-col>
	</ion-row>
</ion-grid>
<div>
	<h2 *ngIf="!videoSrcAvailable" class="videoNotFound">Video not Found..!!</h2>
</div>