<!--ViewVideoTemplate-->
<ion-row style="height:100%;">
	<ion-col style="padding:0px">
		<ion-grid no-padding style="height: 100%;">
			<ion-row style="height: 100%;position: relative;">
				<video #videoElement style="position: absolute;" #video [attr.src]="returnVidPath(data.Content.Capture._Kernel)" width="100%"
					height="100%"></video>
				<svg *ngFor="let obj of objects;" [ngSwitch]="obj.key" [attr.viewBox]="viewBoxSize" height="100%" width="100%" style="position:absolute">
					<rect *ngSwitchCase="'Rectangle'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
						[attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness"
						[attr.opacity]="obj.val._Opacity" />
					<ellipse *ngSwitchCase="'Ellipse'" [attr.cx]="sum(obj.val._Left, obj.val._CenterX)" [attr.cy]="sum(obj.val._Top, obj.val._CenterY)"
						[attr.rx]="obj.val._Width/2" [attr.ry]="obj.val._Height/2" [attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)"
						[attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity" />
					<line *ngSwitchCase="'LineObject'" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2" [attr.y2]="obj.val._Y2"
						[attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
					/>
					<text *ngSwitchCase="'RichTextObject'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.font-size]="obj.val._FontSize"
						[attr.fill]="clrCvt(obj.val._Foreground)" [attr.opacity]="obj.val._Opacity">Video</text>
					<image *ngSwitchCase="'Picture'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
						xlink:href="assets/sample.jpg" />
					<defs *ngSwitchCase="'Arrow'">
						<marker id="arrow" viewBox="0 0 14 14" markerWidth="6" markerHeight="6" refX="9" refY="6" orient="auto">
							<path d="M0,0 L0,12 L12,6 L0,0" [attr.fill]="clrCvt(obj.val._Stroke)"></path>
						</marker>
					</defs>
					<line *ngSwitchCase="'Arrow'" #arrow marker-end="url(#arrow)" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2"
						[attr.y2]="obj.val._Y2" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
					/>
					<image *ngSwitchCase="'Ink'" #Ink x="0" y="0" width="100%" height="100%" xlink:href="assets/inksample.gif" />
				</svg>
				<div #markers *ngFor="let marker of markersObjects;" style="position:absolute;height:100%;width:100%;">
					<svg *ngFor="let obj of marker.objects;" [ngSwitch]="obj.key" [attr.viewBox]="viewBoxSize" height="100%" width="100%" style="position:absolute">
						<rect *ngSwitchCase="'Rectangle'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
							[attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness"
							[attr.opacity]="obj.val._Opacity" />
						<ellipse *ngSwitchCase="'Ellipse'" [attr.cx]="sum(obj.val._Left, obj.val._CenterX)" [attr.cy]="sum(obj.val._Top, obj.val._CenterY)"
							[attr.rx]="obj.val._Width/2" [attr.ry]="obj.val._Height/2" [attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)"
							[attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity" />
						<line *ngSwitchCase="'LineObject'" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2" [attr.y2]="obj.val._Y2"
							[attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
						/>
						<text *ngSwitchCase="'RichTextObject'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.font-size]="obj.val._FontSize"
							[attr.fill]="clrCvt(obj.val._Foreground)" [attr.opacity]="obj.val._Opacity">Video</text>
						<image *ngSwitchCase="'Picture'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
							xlink:href="assets/sample.jpg" />
						<defs *ngSwitchCase="'Arrow'">
							<marker id="arrow" viewBox="0 0 14 14" markerWidth="5" markerHeight="5" refX="8" refY="6" orient="auto">
								<path d="M0,0 L0,12 L12,6 L0,0" [attr.fill]="clrCvt(obj.val._Stroke)"></path>
							</marker>
						</defs>
						<line *ngSwitchCase="'Arrow'" #arrow marker-end="url(#arrow)" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2"
							[attr.y2]="obj.val._Y2" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
						/>
						<image *ngSwitchCase="'Ink'" #Ink x="0" y="0" width="100%" height="100%" xlink:href="assets/inksample.gif" />
					</svg>
				</div>
			</ion-row>
			<ion-row padding-left padding-right style="height: auto; flex: 0 0 auto;" color="dark">
				<ion-col no-padding>
					<ion-grid no-padding>
						<ion-row>
							<ion-col #markersContainer no-padding (window:resize)="onResize($event)" style="height:28px;">
								<button ion-button icon-only clear color="inactive" *ngFor="let marker of markers;let i = index" [class.markerselected]="marker.checked"
									[style.left]="marker.Left" style="width:18px;height:26px;margin:0 -9px;" (click)="updateSelection(i)" (press)="deleteMarker(i)">
										<ion-icon name="pin"></ion-icon>
										</button>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col no-padding>
								<ion-range style="padding:0;height:25px" min="0" max="100000" step="0.01" [(ngModel)]="sliderValue" (ionChange)="sliderValueChange()"></ion-range>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col no-padding style="width: 100%; color: gray;">
								{{timelinePosition}}
							</ion-col>
							<ion-col no-padding style="width: auto; flex: 0 0 auto; color: gray;">
								{{timelineDuration}}
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col no-padding center style="width:auto;flex: 0 0 auto;">
								<button no-margin ion-button icon-only clear (click)="playPause()"><ion-icon name="{{playPauseButtonIcon}}"></ion-icon></button>
							</ion-col>
							<ion-col no-padding center style="width:auto;flex: 0 0 auto;">
								<button no-margin ion-button icon-only clear small color="{{repeatColor}}" (click)="repeatVideo()"><ion-icon name="repeat"></ion-icon></button>
							</ion-col>
							<ion-col no-padding center width="100%"></ion-col>
							<ion-col no-padding center style="width:auto;flex: 0 0 auto;">
								<button no-margin ion-button icon-only clear small (click)="previousVideoFrame()"><ion-icon name="rewind"></ion-icon></button>
							</ion-col>
							<ion-col no-padding center style="width:auto;flex: 0 0 auto;">
								<button no-margin ion-button icon-only clear small (click)="nextVideoFrame()"><ion-icon name="fastforward"></ion-icon></button>
							</ion-col>
							<ion-col no-padding center text-center style="width:auto;flex: 0 0 auto;">
								<button no-margin ion-button icon-only clear small (click)="playbackRateVideo()" style="width:50px;">{{video.playbackRate}} x</button>
							</ion-col>
							<ion-col no-padding center style="width:auto;flex: 0 0 auto;">
								<button no-margin ion-button icon-only clear small (click)="MuteVideo()"> <ion-icon name="{{volumeButtonIcon}}"></ion-icon></button>
							</ion-col>
							<!--<ion-col no-padding center style="width:auto;flex: 0 0 auto;">
								<ion-range style="height:20px; padding:0;width:50px;margin:0 10px" [(ngModel)]="volumeValue" (ionChange)="captureController('volumeValueChange')"></ion-range>
							</ion-col>-->
						</ion-row>
					</ion-grid>
				</ion-col>
				<ion-col no-padding center text-center padding-left style="width:auto;flex:0 0 auto;">
					<ion-row no-padding>
						<ion-col text-center>
							<button ion-fab (click)="addMarker()">
							<ion-icon name="pin"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
					<ion-row no-padding>
						<ion-col no-padding text-center style="font-size:12px;">
							Add Marker
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-col>
</ion-row>