video-component {
    .markerselected{
    color: #387EF5;
    }
    .markerselected:hover{
     color: #387EF5;
     }
     .videoNotFound{
            color:#4B4B4B;
            text-align: center;
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
     }
}