@import '@core/scss/base/pages/app-user.scss';


.addButton{

margin-bottom: 25px;
text-align: right
;
}

.addButtonBottom{

    margin-top: 25px;
    text-align: center;
}

.card{
    margin: 5px;
  }
 