page-login {
  ::-webkit-scrollbar,
    *::-webkit-scrollbar 
    {
        display: none;
    }
    .textTrim{
        overflow: hidden;text-overflow: ellipsis;
}
.regisBtn{
      width: 50px;
      height: 40px;
}
}
