<ion-header no-shadow>
    <ion-toolbar color="primary" no-border-bottom>

        <ion-buttons end>
            <button ion-button icon-only (click)="presentRegister(user)" class="regisBtn" *ngIf="LoginAvailable">
                <ion-icon name="person-add"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{IsLoginAvailable}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content >
    <!--Login-->
    <ion-list name="loginForm" *ngIf="LoginAvailable">
        <ion-item>
            <ion-label style="width:115px;color:gray">Email</ion-label>
            <ion-input type="email" [(ngModel)]="LoginEmail" value="" placeholder="user@domain.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="width:115px;color:gray">Password</ion-label>
            <ion-input value="" [(ngModel)]="Password" type="password"></ion-input>
        </ion-item>
        <div style="width:100%;height:60px;padding-top:16px;padding-right:5px;">
            <div style="float:left;margin-left:15px;width:150px">
                <ion-label style="color:red">{{errorMessege}}</ion-label>
            </div>
            <div style="float:right;width:160px;">
                <button ion-button type="submit" (click)="Login(Email, Pwd)" style="text-transform: initial;">Log In</button>
                <button ion-button outline type="cancel" (click)="dismiss(null)" style="text-transform: initial;">Close</button> 
            </div>
        </div>
    </ion-list>
    <!--Register -->
    <ion-list name="signUpForm" *ngIf="!LoginAvailable">
        <ion-item>
            <ion-label style="width:115px;color:gray">Email</ion-label>
            <ion-input type="email" [(ngModel)]="Email" value="" placeholder="user@domain.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="width:115px;color:gray">First Name</ion-label>
            <ion-input [(ngModel)]="FirstName" value=""></ion-input>
        </ion-item>
        <ion-item>
            <ion-label style="width:115px;color:gray">Last Name</ion-label>
            <ion-input [(ngModel)]="LastName" value=""></ion-input>
        </ion-item>
        <div style="width:100%;height:60px;padding-top:16px;padding-right:10px">
            <div style="float:left;margin-left:15px">
                <ion-label style="color:red">{{errorMessege}}</ion-label>
            </div>
            <div style="float:right;">
                <button ion-button type="submit" (click)=Register(Email,FirstName,LastName) style="text-transform: initial;">Sign Up</button>
                <button ion-button outline type="cancel" (click)="dismiss(null)" style="text-transform: initial;">Close</button>                <br>
                <button ion-button small clear style="padding:0px;text-transform: initial;" (click)="presentLogin(user)">I already have an account</button>
            </div>
        </div>
    </ion-list>
</ion-content>