<div class="crud-form modal-card">
    <header class="modal-card-head has-text-weight-bold">
        COACH
    </header>
    <section class="modal-card-body">        
        <div class="row" *ngIf="!loadingData">
            <div class="col-sm-4">
                <img style="height: 220px; width: 220px; background-color:lightgray;"
                    [attr.src]="coach.ProfileImage ? apiURL + coach.ProfileImage.url : ''">

                <!-- <mat-label class="">Upload</mat-label> -->
                <input type="file" id="input-file" (change)="uploadFile($event)" style="display: none;">
                <button style="margin-top: 20px;" mat-raised-button onclick="document.querySelector('#input-file').click()">Upload
                    Picture
                </button>
            </div>
            <div class="col-sm-8" *ngIf="!loadingData">
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-label class="">First Name</mat-label>
                            <input matInput required placeholder="Ex. John" [(ngModel)]="coach.FirstName">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput required placeholder="Ex. James" [(ngModel)]="coach.LastName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field class="widht-90">
                            <mat-label class="">Title</mat-label>
                            <input matInput placeholder="Ex. Title" [(ngModel)]="coach.Title">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field class="widht-90">
                            <mat-label>Sports</mat-label>
                            <mat-select multiple [(value)]="selectedGame">
                                <mat-option *ngFor="let sport of sports" [value]="sport.id">{{sport.Name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field class="widht-90">
                            <mat-label>Levels</mat-label>
                            <mat-select multiple [(value)]="selectedLevel">
                                <mat-option *ngFor="let level of levels" [value]="level.id">{{level.Name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field class="widht-90">
                            <mat-label>Programs</mat-label>
                            <mat-select multiple [(value)]="selectedProgram">
                                <mat-option *ngFor="let program of programs" [value]="program.id">{{program.Name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field class="widht-90">
                            <mat-label>Years</mat-label>
                            <mat-select multiple [(value)]="selectedYear">
                                <mat-option *ngFor="let year of years" [value]="year.id">{{year.Name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>              
            </div>
        </div>
        <div class="row" *ngIf="!loadingData">
            <div class="col-sm-12">
                <mat-form-field class="widht-90">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="15" placeholder="Ex. Description"
                        [(ngModel)]="coach.Description">  </textarea>
                </mat-form-field>
            </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <div class="btn-toolbar">
        <button class="footer-button" *ngIf="updateItem" (click)="UpdateItem()"
                    [disabled]="!coach.FirstName || !coach.LastName">Update</button>
        <button  class="footer-button" *ngIf="!updateItem" (click)="AddItem()"
                    [disabled]="!coach.FirstName || !coach.LastName">   Save   </button>
        <button  class="footer-button" (click)="cancel()" >Cancel</button>
      </div>
    </footer>
    <mat-spinner *ngIf="loadingData" style="left: 45%;"></mat-spinner>
</div>