page-ipcameras {
 .items {
	display: flex;
	flex-wrap: wrap;
}
.items .item {
	flex: 1 0 auto;
  box-sizing: border-box;
   max-width: calc(100%);
}
@media (min-width: 310px) {
  .items .item {
    max-width: calc(50%);
  }
}

}
