page-ipcameras {
 .items {
	display: flex;
	flex-wrap: wrap;
}
.items .item {
	flex: 1 0 100%;
  box-sizing: border-box;
}
@media (min-width: 410px) {
  .items .item {
    max-width: calc(50%);
  }
}

}
