<!--
  Generated template for the Ipcameras page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>IP Cams Capture</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="isRecording" (click)="loadIPCams()"><ion-icon name="refresh"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f4f4f4;position: relative;">
  <ion-refresher [enabled]="isConnected" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col align-self-center col-auto>
      <b item-left>Rec. Duration </b>
      <ion-badge>{{recordingDuration}} sec</ion-badge>
    </ion-col>
    <ion-col center>
      <ion-range min="5" max="45" step="5" snaps="true" [(ngModel)]="recordingDuration" style="padding:0;">
        <ion-label range-left>5s</ion-label>
        <ion-label range-right>45s</ion-label>
      </ion-range>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col no-padding col-12 col-sm-6 col-lg-4 col-xl-3 *ngFor="let cam of ipCams;let i = index">
      <ion-card style="position: relative;max-height:350px;min-height:120px; background-color: #cccccc;background-image: url(assets/sample.jpg);background-repeat:no;background-size: cover;background-position: center;">
        <img [attr.src]="getIPCamPreview(cam)" />
        <b style="position: absolute;top: 10px; margin: 0 10px;font-size: 1.0em;;font-weight: bold;color: #fff;">{{cam._IPAdd}}</b>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="centered-item-container" style="height: 80%;" *ngIf="isLoading || isConnected && ipCams.length==0 && !isLoading && !refreshing || !isConnected">
    <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
    <ion-note *ngIf="isConnected && ipCams.length==0 && !isLoading && !refreshing">No IP Camera found</ion-note>
    <ion-note *ngIf="!isConnected">Not connected to any server</ion-note>
  </div>

  <ion-fab bottom left [command]="openSettingModal" [usePress]="false" [cmdArgs]="openSettingModalSource()">
    <button ion-fab mini><ion-icon name="md-settings"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom center>
    <button ion-fab color="danger" [disabled]="ipCams.length==0 || isRecording" [command]="record" [usePress]="false" [cmdArgs]="recordSource()"><ion-icon name="radio-button-on"></ion-icon></button>
  </ion-fab>
  <ion-fab bottom right>
    <button ion-fab mini (click)="timerONOFF()" [style.opacity]="timerButtonOpacity"><ion-icon name="timer"></ion-icon></button>
  </ion-fab>
</ion-content>