<div class="content-wrapper">
    <div class="content-body">

        <section class="app-user-view">
            <!-- User Card & Plan Starts -->
            <div class="row">
                <div class="col-12">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="row">
                                <div
                                    class="col-xl-12 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                    <div class="user-avatar-section">
                                        <div class="d-flex justify-content-start">
                                            <!-- <div *ngIf="data.avatar.length > 0; else customAvatar">
                                                            <img class="img-fluid rounded" [src]="data.avatar" height="104"
                                                                width="104" alt="User avatar" />
                                                        </div> -->
                                            <ng-template #customAvatar>
                                                <div class="mr-1 ml-0">
                                                    <div [ngClass]="{
                                                                  'bg-light-success': data.status == 'active',
                                                                  'bg-light-secondary': data.status == 'inactive',
                                                                  'bg-light-warning': data.status == 'pending'
                                                                }" class="rounded p-3">
                                                        <h2 [ngClass]="{
                                                                    'text-success': data.status == 'active',
                                                                    'text-secondary': data.status == 'inactive',
                                                                    'text-warning': data.status == 'pending'
                                                                  }" class="m-0">
                                                            {{ data.fullName | initials }}
                                                        </h2>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <!-- <div class="d-flex flex-column ml-1">
                                                            <div class="user-info mb-1">
                                                                <h4 class="mb-0">Penfield H.S</h4>
                                                                <span class="card-text">Football</span>
                                                            </div>
                                                            <div class="d-flex flex-wrap">
                                                              <a routerLink="/apps/user/user-edit/{{data.id}}" class="btn btn-primary" rippleEffect
                                                                >Edit</a
                                                              >
                                                              <button class="btn btn-outline-danger ml-1" rippleEffect>Delete</button>
                                                            </div>
                                                        </div> -->
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                    <div class="user-info-wrapper">
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Sport:</span>
                                            </div>
                                            <!-- <p class="card-text mb-0">{{roster.Sport}}</p> -->
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Level:</span>
                                            </div>
                                            <p class="card-text mb-0">varsity</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Program:</span>
                                            </div>
                                            <p class="card-text mb-0">Men’s</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Year:</span>
                                            </div>
                                            <p class="card-text mb-0">2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Roaster Table -->
        <div class="row" id="table-hover-animation">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Team Player Roster</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover-animation">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Jersey Number</th>
                                    <th>Level</th>
                                    <th>Address</th>
                                    <th>School</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let rosters of roster">


                                    <td>{{rosters.name}}</td>

                                    <td> <span
                                            class="badge badge-pill badge-light-primary mr-1">{{rosters.playerNumber}}</span>
                                    </td>
                                    <td>{{rosters.level}}</td>
                                    <td>{{rosters.address}} </td>
                                    <td>{{rosters.school}}</td>
                                    <td class="overflow-hidden">
                                        <div ngbDropdown container="body">
                                            <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                                data-toggle="dropdown">
                                                <i data-feather="more-vertical"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a ngbDropdownItem href="javascript:void(0);"
                                                    href="/sportspip/update-roster/{{rosters.id}}">

                                                    <i data-feather="edit-2" class="mr-50"></i>
                                                    <span>Edit</span></a>

                                                <a ngbDropdownItem  href="javascript:void(0);"
                                                     [swal]="SweetAlertConfirmColor">
                                                    <i data-feather="trash" class="mr-50"></i>
                                                    <span>Delete</span></a>
                                                    <swal #SweetAlertConfirmColor (open)="ConfirmColorOpen()"></swal>

                                                <!-- Sweet Alert ConfirmColor -->
                                                <!-- <button class="btn btn-outline-primary mr-1"
                                                    [swal]="SweetAlertConfirmColor" rippleEffect>
                                                    Confirm Button Color
                                                </button> -->
                                                <!-- Swal of Sweet Alert ConfirmColor -->
                                                <!-- <swal #SweetAlertConfirmColor (open)="ConfirmColorOpen()"></swal> -->
                                                <!-- Swal of Sweet Alert ConfirmColor -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Roaster Table  -->

    </div>
</div>


<!-- <div *ngIf="displayForm" class="card card-body">
    <form #quoteForm="ngForm" (ngSubmit)="submitQuote(quoteForm)">
        <div class="form-group">
            <label>First Name</label>
            <input [(ngModel)]="selectedInterpretation.firstName" #quoteFirstName="ngModel" [ngClass]="{
            'is-invalid': quoteFirstName.errors && quoteFirstName.touched
          }" type="text" class="form-control" name="firstName" required minlength="2" maxlength="20" #firstName />
            <div [hidden]="!quoteFirstName.errors?.required" class="invalid-feedback">
                Please enter a first name.
            </div>
            <div [hidden]="!quoteFirstName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters.
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input [(ngModel)]="selectedInterpretation.lastName" #quoteLastName="ngModel" [ngClass]="{
            'is-invalid': quoteLastName.errors && quoteLastName.touched
          }" type="text" class="form-control" name="lastName" required minlength="2" maxlength="20" #lastName />
            <div [hidden]="!quoteLastName.errors?.required" class="invalid-feedback">
                Please enter a last name.
            </div>
            <div [hidden]="!quoteLastName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters.
            </div>
        </div>
        <div class="form-group">
            <label>Quote</label>
            <input [(ngModel)]="selectedInterpretation.quote" #quoteQuote="ngModel" [ngClass]="{
            'is-invalid': quoteQuote.errors && quoteQuote.touched
          }" type="text" class="form-control" name="favQuote" required minlength="10" maxlength="200" #quote />
            <div [hidden]="!quoteQuote.errors?.required" class="invalid-feedback">
                Please enter the quote.
            </div>
            <div [hidden]="!quoteQuote.errors?.minlength" class="invalid-feedback">
                Must be at least 10 characters.
            </div>
        </div>
        <div class="form-group">
            <label>Interpretation</label>
            <input [(ngModel)]="selectedInterpretation.interpretation" #quoteInterpretation="ngModel" [ngClass]="{
            'is-invalid':
              quoteInterpretation.errors && quoteInterpretation.touched
          }" type="text" class="form-control" name="interpretation" required minlength="10" maxlength="200"
                #interpretation />
            <div [hidden]="!quoteInterpretation.errors?.required" class="invalid-feedback">
                Please enter the interpretation of the quote.
            </div>
            <div [hidden]="!quoteInterpretation.errors?.minlength" class="invalid-feedback">
                Must be at least 10 characters.
            </div>
        </div>
        <button *ngIf="!editState" (click)="
          addQuote(
            firstName.value,
            lastName.value,
            quote.value,
            interpretation.value
          )
        " [disabled]="!quoteForm.form.valid" class="btn btn-warning btn-block">
            Post
        </button>
        <button *ngIf="editState" (click)="
          updateQuote(
            firstName.value,
            lastName.value,
            quote.value,
            interpretation.value
          )
        " [disabled]="!quoteForm.form.valid" class="btn btn-danger btn-block">
            Update
        </button>
    </form>
</div> -->