<app-content-header [contentHeader]="contentHeader"></app-content-header>

<div class="content-wrapper">
    <div class="content-body">

        <section class="app-user-view">
            <!-- User Card & Plan Starts -->
            <div class="row">
                <div class="col-12">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="row">
                                <div
                                    class="col-xl-12 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                    <div class="user-avatar-section">
                                        <div class="d-flex justify-content-start">
                                            <!-- <div *ngIf="data.avatar.length > 0; else customAvatar">
                                                            <img class="img-fluid rounded" [src]="data.avatar" height="104"
                                                                width="104" alt="User avatar" />
                                                        </div> -->
                                            <ng-template #customAvatar>
                                                <div class="mr-1 ml-0">
                                                    <div [ngClass]="{
                                                                  'bg-light-success': data.status == 'active',
                                                                  'bg-light-secondary': data.status == 'inactive',
                                                                  'bg-light-warning': data.status == 'pending'
                                                                }" class="rounded p-3">
                                                        <h2 [ngClass]="{
                                                                    'text-success': data.status == 'active',
                                                                    'text-secondary': data.status == 'inactive',
                                                                    'text-warning': data.status == 'pending'
                                                                  }" class="m-0">
                                                            {{ data.fullName | initials }}
                                                        </h2>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                    <div class="user-info-wrapper">
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Sport:</span>
                                            </div>
                                            <!-- <p class="card-text mb-0">{{roster.Sport}}</p> -->
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Level:</span>
                                            </div>
                                            <p class="card-text mb-0">varsity</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Program:</span>
                                            </div>
                                            <p class="card-text mb-0">Men’s</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Year:</span>
                                            </div>
                                            <p class="card-text mb-0">2020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>





<ul ngbNav #navJustified="ngbNav" class="nav nav-pills nav-justified">
    <li ngbNavItem>
      <a ngbNavLink>Team A</a>
      <ng-template ngbNavContent>
        <div class="row" id="table-hover-animation">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover-animation">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Name</th>
                                    <th>Jersey </th>
                                    <th>Position</th>
                                    <th>Schedule</th>
                                    <th>Action</th>


                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let rosters of roster">
                                    <td>
                                        <div class="avatar-group">
                                          <div
                                            data-toggle="tooltip"
                                            data-popup="tooltip-custom"
                                            placement="top"
                                            container="body"
                                            title=""
                                            class="avatar pull-up my-0"
                                            ngbTooltip="Lilian Nenez"
                                          >
                                            <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                                          </div>
                                        </div>
                                      </td>
                                    <td>{{rosters.name}}</td>

                                    <td> <span
                                            class="badge badge-pill badge-light-primary mr-1">{{rosters.playerNumber}}</span>
                                    </td>
                                    <td>{{rosters.level}}</td>
                                    <td></td>
                                    <td class="overflow-hidden">
                                        <div ngbDropdown container="body">
                                            <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                                data-toggle="dropdown">
                                                <i data-feather="more-vertical"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a ngbDropdownItem href="javascript:void(0);"
                                                    href="/sportspip/update-roster/{{rosters.id}}">

                                                    <i data-feather="edit-2" class="mr-50"></i>
                                                    <span>Edit</span></a>

                                                <a ngbDropdownItem href="javascript:void(0);" 
                                                
                                                (click)="deleteRoster(roster.id)">

                                                    <i data-feather="trash" class="mr-50"></i>
                                                    <span>Delete</span></a>
                                                    <!-- <swal #SweetAlertConfirmColor (open)="ConfirmColorOpen()"></swal> -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Team B</a>
      <ng-template ngbNavContent>
        <div class="row" id="table-hover-animation">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover-animation">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Name</th>
                                    <th>Jersey </th>
                                    <th>Position</th>
                                    <th>Schedule</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let rosters of roster">
                                    <td>
                                        <div class="avatar-group">
                                          <div
                                            data-toggle="tooltip"
                                            data-popup="tooltip-custom"
                                            placement="top"
                                            container="body"
                                            title=""
                                            class="avatar pull-up my-0"
                                            ngbTooltip="Lilian Nenez"
                                          >
                                            <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                                          </div>
                                        </div>
                                      </td>
                                    <td>{{rosters.name}}</td>

                                    <td> <span
                                            class="badge badge-pill badge-light-primary mr-1">{{rosters.playerNumber}}</span>
                                    </td>
                                    <td>{{rosters.level}}</td>
                                    <td> </td>
                                    <td class="overflow-hidden">
                                        <div ngbDropdown container="body">
                                            <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                                data-toggle="dropdown">
                                                <i data-feather="more-vertical"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a ngbDropdownItem href="javascript:void(0);"
                                                    href="/sportspip/update-roster/{{rosters.id}}">

                                                    <i data-feather="edit-2" class="mr-50"></i>
                                                    <span>Edit</span></a>

                                                <a ngbDropdownItem href="javascript:void(0);" 
                                                
                                                (click)="deleteRoster(roster.id)">

                                                    <i data-feather="trash" class="mr-50"></i>
                                                    <span>Delete</span></a>
                                                    <!-- <swal #SweetAlertConfirmColor (open)="ConfirmColorOpen()"></swal> -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="navJustified" class="mt-1"></div>
    