<app-content-header [contentHeader]="contentHeader"></app-content-header>


<div class="row">
  <div class="col-lg-12 col-md-12 col-12">
    <div class="addButton">
      <span><b> Add New Coach </b></span>
      <button type="button" class="btn btn-icon btn-icon rounded-circle btn-primary"
        [routerLink]="['/sportspip/add-coach']" [routerLinkActive]="'is-active'" rippleEffect>
        <span [data-feather]="'plus'"></span></button>
    </div>
  </div>
</div>

<!-- Main Sidebar -->
<div class="content-wrapper">
  <div class="app-calendar">
    <div class="row no-gutters">

      <core-sidebar class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column"
        name="calendar-main-sidebar" overlayClass="body-content-overlay" collapsibleSidebar="bs-gt-lg">
        <div class="sidebar-wrapper">

          <div class="card-body pb-0">
            <h5 class="section-label mb-1">
              <span class="align-middle">Filter</span>
            </h5>
            <div class="custom-control custom-checkbox mb-1">
              <input type="checkbox" class="custom-control-input select-all" id="select-all" [checked]="checkAll"
                (change)="toggleCheckboxAll($event)" />

              <label class="custom-control-label" for="select-all">View All</label>
            </div>
            <div class="coaches-filter">

              <div class="custom-control  custom-checkbox mb-1 custom-control-{{ checkboxarrays.color }}"
                *ngFor="let checkboxarrays of gameFilter">

                <input (change)="onChange($event,checkboxarrays.id)" class="custom-control-input input-filter"
                  [checked]="checkboxarrays.checked" type="checkbox" id="checkboxarrays-{{ checkboxarrays.id }}"
                  value={{checkboxarrays.filter}} />

                <label class="custom-control-label" for="checkboxarrays-{{ checkboxarrays.id }}">{{
                  checkboxarrays.filter }}</label>
              </div>

            </div>
          </div>
        </div>
        <!-- <div class="mt-auto">

          <img src="assets/images/pages/calendar-illustration.png" alt="Calendar illustration" class="img-fluid" />

        </div> -->
      </core-sidebar>


      <div class="content-detached content-right">
        <div class="content-body">
          <!-- Coaches Head Section Starts -->
          <section id="coaches-header">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12" *ngFor="let players of coachesArray">
                <a href="sportspip/player-details?playerId={{players.id}}">
                  <div class="card card-profile">
                    <img src="assets/images/banner/banner-12.jpg" class="img-fluid card-img-top"
                      alt="Profile Cover Photo" />
                    <div class="card-body">
                      <div class="profile-image-wrapper">
                        <div class="profile-image">
                          <div class="avatar">
                            <img src="{{ serverUri + players.playerImage[0].formats.thumbnail.url}}"
                              alt="Profile Picture" />
                          </div>
                        </div>
                      </div>
                      <h3>{{players.playerName}}</h3>
                      <h6 class="text-muted">{{players.playerRole}}</h6>
                      <div class="badge badge-light-primary profile-badge">{{players.playerClass}}</div>
                      <h6 class="text-muted">{{players.playerHometown}}</h6>
                      <hr class="mb-2" />
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h6 class="text-muted font-weight-bolder">Height</h6>
                          <h3 class="mb-0">{{players.playerHeight}}</h3>
                        </div>
                        <div>
                          <h6 class="text-muted font-weight-bolder">Weight</h6>
                          <h3 class="mb-0">{{players.playerWeight}}</h3>
                        </div>

                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>