<ion-header>
	<ion-navbar color="primary" no-border-bottom>
		<ion-title>{{matrix.Title}}</ion-title>
		<ion-buttons end>
			<!--<button ion-button icon-only><ion-icon name="cloud-upload"></ion-icon></button>
			<button ion-button icon-only [disabled]="false"><ion-icon name="share"></ion-icon></button>-->
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar color="primary" no-border-top>
		<ion-row no-padding>
			<ion-col no-padding style="width:auto;flex: 0 0 auto;">
				<button ion-button icon-only clear color="light" (click)="presentInfoModal()"><ion-icon name="list-box"></ion-icon></button>
			</ion-col>
			<ion-col no-padding style="width:100%;">
				<ion-segment color="light" [(ngModel)]="selectedViewIndex">
					<ion-segment-button *ngFor="let view of views; let i = index" [value]="i" (click)="showViewSegment(i)" (press)="deleteView(i)">
						View {{i+1}}
					</ion-segment-button>
				</ion-segment>
			</ion-col>
			<ion-col no-padding style="width:auto;flex: 0 0 auto;">
				<button ion-button icon-only clear color="light" (click)="addView()"><ion-icon name="add-circle"></ion-icon></button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-header>

<ion-content style="background:#eee;" [ngSwitch]="selectedViewIndex">
	<ion-row style="height:100%;" *ngFor="let view of views; let i = index" [hidden]="hideViewSegment(selectedViewIndex,i)">
		<ion-col [ngSwitch]="view.Source">
			<!--ViewCanvasTemplate-->
			<canvas-component *ngSwitchCase="'Canvas'" [data]="view"></canvas-component>
			<!--ViewVideoTemplate-->
			<video-component *ngSwitchCase="'Local'" [data]="view"></video-component>
			<!--viewOptions-->
			<ion-row *ngSwitchCase="'(Blank)'" style="height:100%;">
				<ion-col no-padding center text-center>
					<ion-grid no-padding style="max-width:500px ;margin-left: auto;margin-right: auto;">
						<ion-row no-padding>
							<ion-col no-padding width-50>
								<ion-card (click)="addBlankCanvas()">
									<ion-item>
										<ion-avatar item-left style="font-size: 24px;">
											<ion-icon name="easel" item-left></ion-icon>
										</ion-avatar>
										<h2 class="textTrim">Blank Canvas</h2>
									</ion-item>
								</ion-card>
							</ion-col>
							<ion-col no-padding width-50>
								<ion-card (click)="addVideo(selectedViewIndex)">
									<ion-item>
										<ion-avatar item-left style="font-size: 24px;">
											<ion-icon name="ios-film" item-left></ion-icon>
										</ion-avatar>
										<h2 class="textTrim">Add Video</h2>
									</ion-item>
								</ion-card>
							</ion-col>
						</ion-row>
						<ion-row no-padding>
							<ion-col no-padding width-50>
								<ion-card (click)="import()">
									<ion-item>
										<ion-avatar item-left style="font-size: 24px;">
											<ion-icon name="log-in" item-left></ion-icon>
										</ion-avatar>
										<h2 class="textTrim">Import</h2>
									</ion-item>
								</ion-card>
							</ion-col>
							<ion-col no-padding width-50>
								<ion-card (click)="recordVideo()">
									<ion-item>
										<ion-avatar item-left style="font-size: 24px;">
											<ion-icon name="videocam" item-left></ion-icon>
										</ion-avatar>
										<h2 class="textTrim">Record Video</h2>
									</ion-item>
								</ion-card>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-content>

<ion-footer>
	<ion-toolbar>

	</ion-toolbar>
</ion-footer>