page-editor {
    .segment{
    background: color($colors, primary);
  }
  
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
    display: none;
}
.textTrim{
    overflow: hidden;text-overflow: ellipsis;
}
}