<ion-header no-shadow>

	<ion-toolbar color="primary" no-border-bottom>
		<ion-buttons>
			<button (click)="saveMatrix()" icon-only ion-button><ion-icon name="arrow-back"></ion-icon></button>
			<button (click)="saveMatrix()" ion-button><span style="text-transform: capitalize; font-size:20px">{{matrix._Title}}</span></button>
		</ion-buttons>
		<!--<ion-title>{{matrix._Title}}</ion-title>-->
		<ion-buttons end>
			<button ion-button icon-only clear (click)="presentInfoModal()" style="text-transform: initial;"><ion-icon name="list-box"></ion-icon>Info</button>
			<button ion-button icon-only (click)="presentMoreActions($event)"><ion-icon name="more"></ion-icon></button>
		</ion-buttons>
	</ion-toolbar>
	<ion-row>
		<ion-col text-center center *ngFor="let view of views; let i = index" (click)="showViewSegment(i)" (press)="deleteView(i)"
			[class.selectedview]="i == selectedViewIndex" [class.view]="i != selectedViewIndex">
			<span [hidden]="views.length > 5" color="primary">View </span><span color="primary">{{i+1}}</span>
		</ion-col>
		<button ion-button icon-only clear (click)="addView()"><ion-icon name="add-circle"></ion-icon></button>
	</ion-row>

</ion-header>

<ion-content style="background:#f4f4f4;" [ngSwitch]="selectedViewIndex">
	<div style="height:100%;" *ngFor="let view of views; let i = index" [hidden]="hideViewSegment(selectedViewIndex,i)" [ngSwitch]="view._Source">
		<!--ViewCanvasTemplate-->
		<canvas-component *ngSwitchCase="'Canvas'" [view]="view"></canvas-component>
		<!--ViewVideoTemplate-->
		<video-component *ngSwitchCase="'Local'" [view]="view"></video-component>
		<!--viewOptions-->
		<ion-row *ngSwitchCase="'(Blank)'" style="height:100%;">
			<ion-col no-padding center text-center>
				<ion-grid no-padding style="max-width:450px ;margin-left: auto;margin-right: auto;">
					<ion-row>
						<ion-col no-padding width-50>
							<ion-card (click)="addBlankCanvas()">
								<ion-item>
									<ion-icon name="easel" item-left style="margin-right:-10px;"></ion-icon>
									Blank Canvas
								</ion-item>
							</ion-card>
						</ion-col>
						<ion-col no-padding width-50>
							<ion-card (click)="recordVideo()">
								<ion-item>
									<ion-icon name="videocam" item-left style="margin-right:-10px;"></ion-icon>
									<h2 class="textTrim">Record Video</h2>
								</ion-item>
							</ion-card>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col no-padding width-50>
							<ion-card (click)="import()">
								<ion-item>
									<ion-icon name="log-in" item-left style="margin-right:-10px;"></ion-icon>
									<h2 class="textTrim">Import</h2>
								</ion-item>
							</ion-card>
						</ion-col>
						<ion-col no-padding width-50>
							<ion-card (click)="IPCamCapture()">
								<ion-item  style="background-color:white;">
									<ion-icon name="wifi" item-left style="margin-right:-10px;"></ion-icon>
									<h2 class="textTrim">IP Cams Record</h2>
								</ion-item>
							</ion-card>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col no-padding>
							<ion-card (click)="chooseVideo()" *ngIf="evaluateReadPermissions()">
								<ion-item>
									<ion-icon name="ios-film" item-left style="margin-right:-10px;"></ion-icon>
									<h2 class="textTrim">Add Video</h2>
								</ion-item>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
	</div>
</ion-content>