page-editor {

    .segment{
        background: color($colors, primary);
        }
  
    ::-webkit-scrollbar,
    *::-webkit-scrollbar { display: none; }
    
        .view{
            margin:4px;padding:9px 0; display: inline-block; background-color: white;box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
            }
            .selectedview{
                margin:4px; padding:9px 0; display: inline-block; background-color: #f4f4f4;box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.30);
                }

}