<div class="" style="background-color: #fff; height: calc(95vh);">

  <div class="row">
    <div class="col-sm-2">
      <app-filtersidebar (sportsChanged)="updateSportsFilter($event)" (levelsChanged)="updateLevelsFilter($event)"
      (programsChanged)="updateProgramsFilter($event)" (yearsChanged)="updateYearsFilter($event)"></app-filtersidebar>
    </div>
    <div class="col-sm-10">
      <div style="margin: 20px; width: 100%;" [ngStyle]="{ 'visibility': items.length ? 'visible' : 'collapse'}">
        <mat-form-field>
          <mat-label>Sort</mat-label>
          <mat-select #sortSelect [(value)]="sortcoachOrder" (selectionChange)="sortAscDesc('asc')">
            <mat-option value="LastName">Last Name</mat-option>
            <!-- <mat-option value="LastName_desc">Last Name-Desc</mat-option> -->
            <mat-option value="FirstName">First Name</mat-option>
            <!-- <mat-option value="FirstName_desc">First Name-Desc</mat-option> -->
            <mat-option value="Title">Title</mat-option>
            <!-- <mat-option value="Title_desc">Title-Desc</mat-option> -->
            <mat-option value="sports_lst">Sport</mat-option>
            <!-- <mat-option value="sports_lst_desc">Sport-Desc</mat-option> -->
            <mat-option value="levels_lst">Level</mat-option>
            <!-- <mat-option value="levels_lst_desc">Level-Desc</mat-option> -->
            <mat-option value="years_lst">Year</mat-option>
            <!-- <mat-option value="years_lst_desc">Year-Desc</mat-option> -->
            <mat-option value="programs_lst">Program</mat-option>
            <!-- <mat-option value="programs_lst_desc">Program-Desc</mat-option> -->
          </mat-select>
        </mat-form-field>      
        <img mat-card-image *ngIf="isAscending" alt="Asc" style="width: 30px; margin: 0px; cursor: pointer;"
          (click)="sortAscDesc('asc')" src="../../../../assets/sortAsc.png">
        <img mat-card-image *ngIf="!isAscending" alt="Desc" style="width: 30px; margin: 0px; cursor: pointer;"
          (click)="sortAscDesc('desc')" src="../../../../assets/sortDesc.png">  
      </div>
      <div class="flexcontainer">
        <div
          *ngFor="let item of items | sortcoach: sortcoachOrder | filtersport: selectedGame | filterlevel: selectedLevel | filteryear: selectedYear| filterprogram: selectedProgram ; let idx = index"
          class="item-container">
          <mat-card (click)="open(coachComponent, item.id)" style="cursor: pointer !important">
            <img mat-card-image style="height: 140px; width: 220px; background-color:lightgray;"
              [attr.src]="item.ProfileImage ? apiURL + item.ProfileImage.url : ''">
            <mat-card-content style="margin-bottom: 0px;">
              <span style="font-size: 18px;overflow: hidden;text-overflow: ellipsis;"> {{item.FirstName}}
                {{item.LastName}}</span>
              <br />
              <div class="row-content">
                <span style="overflow: hidden;text-overflow: ellipsis; color: #555555;"> {{item.Title}} </span>
                <!-- <span style="color: #555555;"> Views: {{item.metadata.Views}} </span> -->
              </div>
            </mat-card-content>
            <!-- <mat-card-actions align="end" > 
            <p style="color: gray; flex: 1 1 auto; margin: 12px;">
              {{FormatDate(item.createdAt) | date:'dd MMM yyyy'}} </p>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item (click)="DeleteItem(item.id, item.thumbnail[0].id, item.package[0].id)">Delete</button>
            </mat-menu>
          </mat-card-actions> -->
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="loadingData" style="left: 45%;"></mat-spinner>
</div>