.flexcontainer {
  display: flex;
  display: -webkit-flex;
   align-items: center;
  -webkit-align-items: center;
   flex-direction: row;
   -webkit-flex-direction: row;
   flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
   align-content: flex-end;
   -webkit-align-content: flex-end;
}

.item-container{
  margin: 10px;
  min-width: 180px;
  max-width: 320px;
}

/* .row-content{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
} */

#icon{
  color: #1776D2;
}

#content{
    padding: 30px;
  }
  
th.mat-sort-header-sorted {
  color: black;
}