<ion-header>
	<ion-navbar color="primary" no-border>
		<ion-title start>
			Sports PIP
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openConnectivity()"><ion-icon name="wifi"></ion-icon><span></span></button>
			<button ion-button icon-only (click)="openSettings()"><ion-icon name="person"></ion-icon></button>
			<button ion-button icon-only (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
	<ion-segment color="light" class="segment" [(ngModel)]="selectedSegment">
		<ion-segment-button value="local">Matrices</ion-segment-button>
		<ion-segment-button value="server">Channels</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content style="background:#f4f4f4;">

	<!-- Real floating action button, fixed. It will not scroll with the content -->
	<ion-fab bottom right>
		<button ion-fab (click)="newMatrix()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<!--(For testing only) - Open matrix file placed in assets-->
	<!--<ion-fab bottom center>
		<button ion-fab color="light" (click)="testOpenMatrix()">M</button>
	</ion-fab>-->

	<div [ngSwitch]="selectedSegment">
		<div *ngSwitchCase="'local'" style="position: relative;">
			<ion-row>
				<ion-col no-padding center text-right>
					<button ion-button clear *ngIf="localMatrices.length > 0" (click)="openCollection()">View All</button>
				</ion-col>
			</ion-row>
			<div class="items">
				<div class="item" *ngFor='let matrix of localMatrices | slice: 0:12; let i = index'>
					<ion-card (click)="openMatrix(matrix.Name,matrix.Channel)" (press)="matrixPressed(i,matrix.Name,matrix.Channel,matrix.Title)">
						<ion-row>
							<ion-col no-padding [style.background-image]="retrunThumbnailPath(matrix.ThumbnailSource)" style="height: 120px;background-size: cover;background-color:lightgray;background-position: center;">
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col no-padding>
								<ion-card-content style="padding:5px 10px 2px 10px ">
									<ion-row>
										<ion-col no-padding style="width: 100%;font-size: 18px;overflow: hidden;text-overflow: ellipsis;">
											{{matrix.Name}}
										</ion-col>
										<ion-col no-padding center text-right style="flex: 0 0 auto; width: auto;">
											<!--<p>{{FormatDate(matrix.DateCreated)}}</p>-->
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col no-padding style="width: 100%;overflow: hidden;text-overflow: ellipsis;">
											{{matrix.Sport}}/{{matrix.Skill}}
										</ion-col>
										<ion-col no-padding center text-right style="flex: 0 0 auto; width: auto;">
											<!--<p>{{formatDuration(matrix.Duration)}}</p>-->
										</ion-col>
									</ion-row>
								</ion-card-content>
							</ion-col>
						</ion-row>
					</ion-card>
				</div>
			</div>
			<ion-row center *ngIf="!(localMatrices.length > 0)" style="position: absolute;margin-top:45%; color: gray;">
				<ion-col text-center center>
					No matrix exist
				</ion-col>
			</ion-row>
		</div>
		<div *ngSwitchCase="'server'" style="position: relative;">
			<ion-item-group *ngFor="let channel of channels|groupBy:'Channel'">
				<ion-row *ngIf="channel.value.length > 0">
					<ion-col no-padding center>
						<ion-title>{{channel.key}}</ion-title>
					</ion-col>
					<ion-col no-padding text-right>
						<button ion-button clear (click)="openChannelCollection(channel.key)">View All</button>
					</ion-col>
				</ion-row>
				<div class="items">
					<div class="item" *ngFor="let matrix of channel.value | slice: 0:6; let i = index">

						<ion-card (click)="channelMatrixPressed(i,matrix.Name,channel.value,matrix.Channel,matrix.Title)" (press)="channelMatrixPressed(i,matrix.Name,channel.value,matrix.Channel,matrix.Title)">
							<ion-row>
								<ion-col no-padding [style.background-image]="retrunThumbnailPath(matrix.UploadID)" style="position: relative; height: 120px;background-size: cover;background-color:lightgray;background-position: center;">
									<ion-row center style="position: absolute;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.2);">
										<ion-col center text-center>
											<button ion-button icon-left clear color="light" style="font-size: 20px; font-weight: bold;"><ion-icon name="download"></ion-icon>Download</button>
										</ion-col>
									</ion-row>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col no-padding>
									<ion-card-content style="padding:5px 10px 2px 10px ">
										<ion-row>
											<ion-col no-padding style="width: 100%;font-size: 18px;overflow: hidden;text-overflow: ellipsis;">
												{{matrix.Name}}
											</ion-col>
											<ion-col no-padding center text-right style="flex: 0 0 auto; width: auto;">
												<!--<p>{{FormatDate(matrix.DateCreated)}}</p>-->
											</ion-col>
										</ion-row>
										<ion-row>
											<ion-col no-padding style="width: 100%;overflow: hidden;text-overflow: ellipsis;">
												{{matrix.Sport}}/{{matrix.Skill}}
											</ion-col>
											<ion-col no-padding center text-right style="flex: 0 0 auto; width: auto;">
												<!--<p>{{formatDuration(matrix.Duration)}}</p>-->
											</ion-col>
										</ion-row>
									</ion-card-content>
								</ion-col>
							</ion-row>
						</ion-card>
					</div>
				</div>
			</ion-item-group>
			<ion-row center *ngIf="!(channels.length > 0)" style="position: absolute;margin-top:45%; color: gray;">
				<ion-col text-center center>
					No channel exist
				</ion-col>
			</ion-row>
		</div>
	</div>

</ion-content>