<ion-header color="primary">
  <ion-navbar no-border-bottom>
    <ion-title start>
      Sports PIP
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
      <button ion-button icon-only (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="local">
        <ion-icon name="albums"></ion-icon> Matrices
      </ion-segment-button>
      <ion-segment-button value="server">
        <ion-icon name="cloud-download"></ion-icon> Channels
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content style="background:#f1f1f1;">

  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab bottom right>
    <button ion-fab (click)="newMatrix()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'local'">
      <ion-row>
        <ion-col center></ion-col>
        <ion-col text-right>
          <button ion-button clear (click)="openCollection()">View All</button>
        </ion-col>
      </ion-row>
      <div class="items">
        <div class="item" *ngFor='let matrix of localMatrices | slice: 0:12'>
          <ion-card (click)="openMatrix(matrix.title)">
            <img [src]="matrix.image" />
            <ion-card-content>
              <ion-card-title style="font-size:18px;flex-wrap: nowrap;">
                <ion-row>
                  <ion-col>
                    <div style="text-overflow:ellipsis;">{{matrix.title}}</div>
                  </ion-col>
                  <ion-col center text-right style="width:10px;">
                    <p>Oct 3</p>
                  </ion-col>
                </ion-row>
              </ion-card-title>
              <div style="display:block;">
                <p>Sport/Skill</p>
                <p>00:00</p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'server'">
      <ion-item-group *ngFor="let channel of channels">
        <ion-row>
          <ion-col center>
            <ion-title>{{channel.title}}</ion-title>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear (click)="openChannelCollection(channel.title)">View All</button>
          </ion-col>
        </ion-row>
        <div class="items">
          <div class="item" *ngFor="let matrix of channel.channelMatrices | slice: 0:6">
            <ion-card (click)="downloadMatrix()">
              <img [src]="matrix.image" />
              <ion-card-content>
                <ion-card-title style="font-size:18px;flex-wrap: nowrap;">
                  <ion-row>
                    <ion-col>
                      <div style="text-overflow:ellipsis;">{{matrix.title}}</div>
                    </ion-col>
                    <ion-col center text-right style="width:10px;">
                      <p>Oct 3</p>
                    </ion-col>
                  </ion-row>
                </ion-card-title>
                <div style="display:block;">
                  <p>Sport/Skill</p>
                  <p>00:00</p>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <!--<ion-item-divider>
          {{channel.title}} <button ion-button item-right (click)="openChannelCollection(channel.title)">View All</button>
        </ion-item-divider>
        <ion-item-sliding *ngFor="let matrix of channel.channelMatrices | slice: 0:6">
          <ion-item (click)="downloadMatrix()">
            {{matrix.title}}
          </ion-item>
          <ion-item-options>
            <button light><ion-icon name="copy"></ion-icon></button>
            <button danger><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
        </ion-item-sliding>-->
      </ion-item-group>
    </div>
  </div>

</ion-content>