<ion-header>
	<ion-navbar color="primary" no-border-bottom>
		<ion-title start>
			Sports PIP
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openConnectivity()"><ion-icon name="wifi"></ion-icon></button>
			<button ion-button icon-only (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
			<button ion-button icon-only (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content style="background:#f1f1f1;">

	<!-- Real floating action button, fixed. It will not scroll with the content -->
	<ion-fab bottom right>
		<button ion-fab (click)="newMatrix()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	<!--(For testing only) - Open matrix file placed in assets-->
	<ion-fab bottom center>
		<button ion-fab color="light" (click)="testOpenMatrix()">M</button>
	</ion-fab>

	<ion-toolbar no-border>
		<ion-segment [(ngModel)]="selectedSegment">
			<ion-segment-button value="local">Matrices</ion-segment-button>
			<ion-segment-button value="server">Channels</ion-segment-button>
		</ion-segment>
	</ion-toolbar>

	<div [ngSwitch]="selectedSegment">
		<div *ngSwitchCase="'local'" style="position: relative;">
			<ion-row>
				<ion-col center text-right>
					<button ion-button clear *ngIf="localMatrices.length > 0" (click)="openCollection()">View All</button>
				</ion-col>
			</ion-row>
			<div class="items">
				<div class="item" *ngFor='let matrix of localMatrices | slice: 0:12; let i = index'>
					<ion-card (click)="openMatrix(matrix.Name,matrix.Channel)" (press)="matrixPressed(i,matrix.Name,matrix.Channel)">
						<img [attr.src]="retrunThumbnailPath(matrix.ThumbnailSource)" />
						<ion-card-content>
							<ion-row>
								<ion-col style="width: 100%;font-size: 18px;overflow: hidden;text-overflow: ellipsis;">
									{{matrix.Title}}
								</ion-col>
								<ion-col center text-right style="flex: 0 0 auto; width: auto;">
									<p>{{matrix.DateCreated}}</p>
								</ion-col>
							</ion-row>
							<p>{{matrix.Sport}}/{{matrix.Skill}}</p>
							<p>{{matrix.Duration}}</p>
						</ion-card-content>
					</ion-card>
				</div>
			</div>
			<ion-row center *ngIf="!(localMatrices.length > 0)" style="position: absolute;margin-top:45%; color: gray;">
				<ion-col text-center center>
					No matrix exist
				</ion-col>
			</ion-row>
		</div>
		<div *ngSwitchCase="'server'" style="position: relative;">
			<ion-item-group *ngFor="let channel of channels|groupBy:'Channel'">
				<ion-row *ngIf="channel.value.length > 0">
					<ion-col center>
						<ion-title>{{channel.key}}</ion-title>
					</ion-col>
					<ion-col text-right>
						<button ion-button clear (click)="openChannelCollection(channel.key)">View All</button>
					</ion-col>
				</ion-row>
				<div class="items">
					<div class="item" *ngFor="let matrix of channel.value | slice: 0:6; let i = index">
						<ion-card style="position: relative;" (click)="channelMatrixPressed(i,matrix.Name,channel.value,matrix.Channel)" (press)="channelMatrixPressed(i,matrix.Name,channel.value,matrix.Channel)">
							<img [attr.src]="retrunThumbnailPath(matrix.ThumbnailSource)" />
							<ion-card-content>
								<ion-row>
									<ion-col style="width: 100%;font-size: 18px;overflow: hidden;text-overflow: ellipsis;">
										{{matrix.Title}}
									</ion-col>
									<ion-col center text-right style="flex: 0 0 auto; width: auto;">
										<p>{{matrix.DateCreated}}</p>
									</ion-col>
								</ion-row>
								<p>{{matrix.Sport}}/{{matrix.Skill}}</p>
								<p>{{matrix.Duration}}</p>
							</ion-card-content>
							<ion-row center style="position: absolute;top: 0;font-size: 2.0em;width: 100%;height: 100%;font-weight: bold;color: rgba(244,244,244,0.9);background-color: rgba(0,0,0,0.1);">
								<ion-col center text-center>Download</ion-col>
							</ion-row>
						</ion-card>
					</div>
				</div>
			</ion-item-group>
			<ion-row center *ngIf="!(channels.length > 0)" style="position: absolute;margin-top:45%; color: gray;">
				<ion-col text-center center>
					No channel exist
				</ion-col>
			</ion-row>
		</div>
	</div>

</ion-content>