<ion-header no-border color="light">
    <ion-toolbar no-border-bottom color="white">

        <ion-buttons end>
            <button ion-button icon-left color="primary" (click)="dismiss(null)">
                Cancel
            </button>
        </ion-buttons>

        <ion-title color="primary">{{IsLoginAvailable}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <!--Login-->
    <div name="loginForm" *ngIf="LoginAvailable">
        <ion-row>
            <ion-col align-self-center text-center style="color:red">
                {{errorMessege}}
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" [(ngModel)]="LoginEmail" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input value="" [(ngModel)]="Password" type="password"></ion-input>
            </ion-item>
        </ion-list>
        <ion-grid>
            <ion-row margin-bottom>
                <ion-col>
                    <button ion-button block (click)="Login(LoginEmail, Password)" style="text-transform: initial;">Log In</button>
                </ion-col>
            </ion-row>
            <ion-row margin-top>
                <ion-col text-center style="color:gray;">
                    or
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <button ion-button outline icon-left (click)="presentRegister()" style="text-transform: initial;"><ion-icon name="person-add"></ion-icon> Sign up</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!--Register -->
    <div name="signUpForm" *ngIf="!LoginAvailable">
        <ion-row>
            <ion-col align-self-center text-center style="color:red">
                {{errorMessege}}
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email" [(ngModel)]="Email" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input [(ngModel)]="FirstName" value=""></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input [(ngModel)]="LastName" value=""></ion-input>
            </ion-item>
        </ion-list>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button ion-button block (click)=Register(Email,FirstName,LastName) style="text-transform: initial;">Create Account</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                    <button ion-button small clear style="padding:0px;text-transform: initial;" (click)="presentLogin()">Already have an account</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>