<ion-grid style="height: 100%;">
	<ion-row style="height: 100%;position: relative;">
		<svg viewBox="0 0 1920 1080" height="100%" width="100%" style="position:absolute">
			<rect #canvasappearence x="0" y="0" width="1920" height="1080" fill="White" stroke="lightgray" stroke-width="1.5" />
		</svg>
		<svg *ngFor="let obj of objects;" [ngSwitch]="obj.key" viewBox="0 0 1920 1080" height="100%" width="100%" style="position:absolute">
			<rect *ngSwitchCase="'Rectangle'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
				[attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness"
				[attr.opacity]="obj.val._Opacity" />
			<ellipse *ngSwitchCase="'Ellipse'" [attr.cx]="sum(obj.val._Left, obj.val._CenterX)" [attr.cy]="sum(obj.val._Top, obj.val._CenterY)"
				[attr.rx]="obj.val._Width/2" [attr.ry]="obj.val._Height/2" [attr.fill]="clrCvt(obj.val._Fill)" [attr.stroke]="clrCvt(obj.val._Stroke)"
				[attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity" />
			<line *ngSwitchCase="'LineObject'" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2" [attr.y2]="obj.val._Y2"
				[attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
			/>
			<text *ngSwitchCase="'RichTextObject'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.font-size]="obj.val._FontSize"
				[attr.fill]="clrCvt(obj.val._Foreground)" [attr.opacity]="obj.val._Opacity">Canvas</text>
			<image *ngSwitchCase="'Picture'" [attr.x]="obj.val._Left" [attr.y]="obj.val._Top" [attr.width]="obj.val._Width" [attr.height]="obj.val._Height"
				[attr.xlink:href]="returnImagePath(obj.val._Source)" />
			<defs *ngSwitchCase="'Arrow'">
				<marker id="arrow" viewBox="0 0 14 14" markerWidth="6" markerHeight="6" refX="9" refY="6" orient="auto">
					<path d="M0,0 L0,12 L12,6 L0,0" [attr.fill]="clrCvt(obj.val._Stroke)"></path>
				</marker>
			</defs>
			<line *ngSwitchCase="'Arrow'" #arrow marker-end="url(#arrow)" [attr.x1]="obj.val._X1" [attr.y1]="obj.val._Y1" [attr.x2]="obj.val._X2"
				[attr.y2]="obj.val._Y2" [attr.stroke]="clrCvt(obj.val._Stroke)" [attr.stroke-width]="obj.val._StrokeThickness" [attr.opacity]="obj.val._Opacity"
			/>
			<image *ngSwitchCase="'Ink'" #Ink x="0" y="0" width="100%" height="100%" [attr.xlink:href]="returnInkPath(obj.val._name)"/>
		</svg>
	</ion-row>
	<ion-row *ngIf="isTimelineAvailable" style="height: auto; flex: 0 0 auto;">
		<ion-col no-padding>
			<ion-row style="position: relative;">
				<ion-col padding-horizontal no-padding style="position:absolute;color: gray;margin-top:22px;">
					<span>{{timelinePosition}}</span>
					<span style="float:right;">{{timelineDuration}}</span>
				</ion-col>
				<ion-col padding-horizontal no-padding>
					<ion-range style="padding:0;margin-top:10px; height:10px" min="0" max="10000" step="0.01" [(ngModel)]="sliderValue" (ionChange)="sliderValueChange()"></ion-range>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col no-padding align-self-center>
					<ion-row>
						<ion-col no-padding align-self-center></ion-col>
						<ion-col no-padding align-self-center col-auto>
							<button no-margin ion-button icon-only clear (click)="rewindframe()"><ion-icon name="rewind"></ion-icon></button>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col no-padding align-self-center col-auto>
					<button no-margin ion-button icon-only clear large (click)="playPause()"><ion-icon name="{{playPauseButtonIcon}}"></ion-icon></button>
				</ion-col>
				<ion-col no-padding align-self-center>
					<ion-row>
						<ion-col no-padding align-self-center text-center col-auto>
							<button no-margin ion-button icon-only clear (click)="forwardframe()"><ion-icon name="fastforward"></ion-icon></button>
							<button no-margin ion-button icon-only clear color="{{repeatColor}}"><ion-icon name="repeat"></ion-icon></button>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-grid>