<h1 mat-dialog-title>Update Roster</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label class="">JerseyNumber</mat-label>
        <input matInput placeholder="Ex. John" [(ngModel)]="roster.JerseyNumber">
    </mat-form-field>
    <mat-form-field class="widht-90">
        <mat-label>Positions</mat-label>
        <mat-select multiple [(value)]="selectedpositions">
            <mat-option *ngFor="let position of positions" [value]="position.id">{{position.Position}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button  [disabled]="!roster.JerseyNumber" (click)="onNoClick()">Update</button>
</div>