<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>Account</ion-title>
		<ion-buttons end>
			<button *ngIf="!FirstName" ion-button icon-left (click)="presentLoginModal()"><ion-icon name="log-in"></ion-icon>Login</button>
			<button *ngIf="FirstName" ion-button icon-left (click)="presentPopover($event)">
				<ion-icon name="person"></ion-icon>
				<span>{{FirstName}} {{LastName}}</span>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content style="background:#f4f4f4;">
	<ion-grid *ngIf="subscribeList.length > 0">
		<ion-row>
			<ion-col text-left>
				<h5>Subscribed Channels</h5>
			</ion-col>
		</ion-row>
		<div class="items">
			<div class="item" *ngFor="let subList of subscribeList;let i = index">
				<ion-card>
					<ion-item>
						<ion-icon item-left name="person"></ion-icon>
						<h2>{{subList.ChannelName}}</h2>
						<p>{{subList.Description}}</p>
						<button (click)="UnSubscribeList(i,subList.ChannelName)" ion-fab mini item-right>
							<ion-icon name="close"></ion-icon>
							</button>
					</ion-item>
				</ion-card>
			</div>
		</div>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col text-left>
				<h5>Available Channels</h5>
			</ion-col>
		</ion-row>
		<ion-row>
			<div class="items">
				<div class="item" *ngFor='let chanList of chanelList;let i = index'>
					<ion-card>
						<ion-item>
							<ion-icon item-left name="person"></ion-icon>
							<h2>{{chanList.ChannelName}}</h2>
							<button (click)="SubscribeList(i,chanList.ChannelName)" ion-fab mini item-right>
                    					<ion-icon name="add"></ion-icon>
                  					</button>
						</ion-item>
					</ion-card>
				</div>
			</div>
			<ion-col center text-center clear *ngIf='chanelList.length == 0' style="color:gray;">
				no channel available
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>