<div class="" style="background-color: #fff; height: calc(95vh);">
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img style="height: 220px; width: 220px; background-color:lightgray;"
                [attr.src]="coach.ProfileImage ? apiURL + coach.ProfileImage.url : ''">
        </div>
        <div class="col-sm-8">
            <h4>Name : {{coach.FirstName}} {{coach.LastName}}</h4>
            <h4>Title : {{coach.Title}}</h4>
            <h4>Sports : {{sports}} </h4>
            <h4>Levels : {{levels}}</h4>
            <h4>Programs : {{programs}}</h4>
            <h4>Years : {{years}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>{{coach.Description}}</p>
        </div>
    </div>
</div>
<mat-spinner *ngIf="loadingData" style="left: 45%;"></mat-spinner>
</div>