<div class="crud-form modal-card">
    <header class="modal-card-head has-text-weight-bold">
        PLAYER
    </header>
    <section class="modal-card-body">
        <div class="container">
            <div class="row" *ngIf="!loadingData">
                <div class="col-sm-4">
                    <img style="height: 220px; width: 220px; background-color:lightgray;"
                        [attr.src]="player.ProfileImage ? apiURL + player.ProfileImage.url : ''">

                    <!-- <mat-label class="">Upload</mat-label> -->
                    <input type="file" id="input-file" (change)="uploadFile($event)" style="display: none;">
                    <button style="margin-top: 20px" mat-raised-button onclick="document.querySelector('#input-file').click()">Upload
                        Picture</button>
                </div>
                <div class="col-sm-8" *ngIf="!loadingData">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label class="">First Name</mat-label>
                                <input matInput required placeholder="Ex. John" [(ngModel)]="player.FirstName">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput required placeholder="Ex. James" [(ngModel)]="player.LastName">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Class</mat-label>
                                <input matInput [(ngModel)]="player.Class">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Height</mat-label>
                                <input matInput [(ngModel)]="player.Height">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Weight</mat-label>
                                <input matInput [(ngModel)]="player.Weight">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Hometown</mat-label>
                                <input matInput [(ngModel)]="player.Hometown">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field class="widht-90">
                                <mat-label>Sport</mat-label>
                                <mat-select [(value)]="selectedGame">
                                    <mat-option *ngFor="let sport of sports" [value]="sport.id">{{sport.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="widht-90">
                                <mat-label>Level</mat-label>
                                <mat-select [(value)]="selectedLevel">
                                    <mat-option *ngFor="let level of levels" [value]="level.id">{{level.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="widht-90">
                                <mat-label>Program</mat-label>
                                <mat-select [(value)]="selectedProgram">
                                    <mat-option *ngFor="let program of programs" [value]="program.id">{{program.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <mat-form-field class="widht-90">
                                <mat-label>Years</mat-label>
                                <mat-select multiple [(value)]="player.years">
                                    <mat-option *ngFor="let year of years" [value]="year.id">{{year.Name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!loadingData">
                <div class="col-sm-12">
                    <mat-form-field class="widht-full">
                        <mat-label>Description</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="15" placeholder="Ex. Description"
                            [(ngModel)]="player.Description">  </textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-spinner *ngIf="loadingData" style="left: 45%;"></mat-spinner>
    </section>
    <footer class="modal-card-foot">
        <div class="btn-toolbar">
            <button class="footer-button" *ngIf="updateItem" (click)="UpdateItem()"
                [disabled]="!player.FirstName || !player.LastName">Update</button>
            <button class="footer-button" *ngIf="!updateItem" (click)="AddItem()"
                [disabled]="!player.FirstName || !player.LastName"> Save </button>
            <button class="footer-button" (click)="cancel()">Cancel</button>
        </div>
    </footer>
</div>