<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card mb-4">
            <div class="card-body p-2">
                <div class="position-relative">
                    <div class="card-body">
                        <div class="text-body">
                            <p>
                                Analysis is using the video and tagging data to create presentatins that will help
                                the team perform.
                            </p>

                            <p> There are a couple options on how to provide this functionality.</p>
                            <p>
                                1) The first option is to edit the videos in the Win10 app and create a guided video
                                us ing graphics,
                                narration, charts, sensor data and tag ging data. Then upload it as a single video
                                that the players
                                can watch. This example is like the golf lesson example we have looked at.
                            </p>

                            <p>
                                2) The second example is to generate a query which uses tagging data to pull a list
                                of video clips
                                and creates a matrix for reviewing the scenes. The user can save the query which
                                adds an item type to
                                the summary list. This is kind of like running a stored query in a database. When
                                the query runs it
                                displays the video and tagging data as shown in the Media detail examples.
                            </p>

                            <p>
                                If possible, I would like to make both avail able from the analysis menu item as
                                they provide
                                complementary analysis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-6 col-12">
        <div class="card mb-4">
            <div class="card-body p-2">
                <div class="position-relative">
                    <div class="card-body">
                        <h4 class="text-heading">Example 1</h4>
                            <div class="media-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                                </div>
                            </div>
                        <div class="heading">
                        <h4 class="text-heading"> Example 2</h4>
                        <div class="table-body">
                            <table style="width:100%">
                                <tr>
                                    <th>Query Name:</th>
                                    <td>Big Plays</td>
                                </tr>
                                <tr>
                                    <th>Sports:</th>
                                    <td>Football</td>
                                </tr>
                                <tr>
                                    <th>Period:</th>
                                    <td>2015-2020</td>
                                </tr>
                                <tr>
                                    <th>Team:</th>
                                    <td>Victor</td>
                                </tr>
                                <tr>
                                    <th>Opponent:</th>
                                    <td>All</td>
                                </tr>
                                <tr>
                                    <th>Play:</th>
                                    <td>Run</td>
                                </tr>
                                <tr>
                                    <th>Value:</th>
                                    <td>10+ Yards</td>
                                </tr>
                                <tr>
                                    <th>Result:</th>
                                    <td>To uchdown</td>
                                </tr>
                                <tr>
                                    <th>Softs:</th>
                                    <td>Ascending</td>
                                </tr>
                                <tr>
                                    <th>Matrix Columns:</th>
                                    <td>Year, Player, Type, Result</td>
                                </tr>
                                <tr>
                                    <th>Matrix Row:</th>
                                    <td>Opponent</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>