<nav class="navbar navbar-expand-sm navbar-light justify-content-end sticky-top" style="background-color: #f44336;">
  <a class="" href="#">
    <img style="height: 50px; width: 150px; background-color:lightgray;"
      src="http://3.22.235.152:1337/uploads/567a7be551224a90a037474d9958202f.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/pips'">PIPs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/coaches'">Coaches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/players'">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/rosters'">Rosters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/schedule'">Schedule</a>
      </li>
    </ul>
  </div>
  <div class="dropdown ml-auto mr-1">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      admin
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" [routerLink]="'/admin/coaches'">Coaches</a>
      <a class="dropdown-item" [routerLink]="'/admin/players'">Players</a>
      <a class="dropdown-item" [routerLink]="'/admin/categories'">Categories</a>
    </div>
  </div>
</nav>