<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/pips'">PIPs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/coaches'">Coaches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/players'">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/rosters'">Rosters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/schedule'">Schedule</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="'/admin/coaches'">Coaches</a>
            <a class="dropdown-item" [routerLink]="'/admin/players'">Players</a> 
            <a class="dropdown-item" [routerLink]="'/admin/categories'">Categories</a> 
          </div>
        </li>
      </ul>
    </div>
  </nav>
  