.nav-item{
    padding:2px;
    margin-left: 7px;
    font-size:initial;
}
.navbar-brand {
    background-color: dimgrey;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}