<div class="content-wrapper">
    <div class="content-body">
        <!-- page users view start -->
        <section class="app-user-view">
            <!-- User Card & Plan Starts -->
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="card user-card">
                        <div class="card-body">
                            <div class="row">
                                <div
                                    class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                    <div class="user-avatar-section">
                                        <div class="d-flex justify-content-start">
                                            <img src="{{ 'http://drake.in:1337' + playerDetails.playerImage[0].url}}"
                                            height="104" width="104" alt="Logo" />
                                            <!-- <div *ngIf="data.avatar.length > 0; else customAvatar">
                                                <img class="img-fluid rounded" [src]="data.avatar" height="104"
                                                    width="104" alt="User avatar" />
                                            </div> -->
                                            <ng-template #customAvatar>
                                                <div class="mr-1 ml-0">
                                                    <div [ngClass]="{
                                                      'bg-light-success': data.status == 'active',
                                                      'bg-light-secondary': data.status == 'inactive',
                                                      'bg-light-warning': data.status == 'pending'
                                                    }" class="rounded p-3">
                                                        <h2 [ngClass]="{
                                                        'text-success': data.status == 'active',
                                                        'text-secondary': data.status == 'inactive',
                                                        'text-warning': data.status == 'pending'
                                                      }" class="m-0">
                                                            {{ data.fullName | initials }}
                                                        </h2>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <!-- <div class="d-flex flex-column ml-1">
                                                <div class="user-info mb-1">
                                                    <h4 class="mb-0">Penfield H.S</h4>
                                                    <span class="card-text">Football</span>
                                                </div>
                                                <div class="d-flex flex-wrap">
                                                  <a routerLink="/apps/user/user-edit/{{data.id}}" class="btn btn-primary" rippleEffect
                                                    >Edit</a
                                                  >
                                                  <button class="btn btn-outline-danger ml-1" rippleEffect>Delete</button>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                    <div class="user-info-wrapper">
                                        <div class="d-flex flex-wrap">
                                            <div class="user-info-title">
                                                <span class="card-text user-info-title font-weight-bold mb-0">Name:</span>
                                            </div>
                                            <p class="card-text mb-0">{{playerDetails.playerName}}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Height:</span>
                                            </div>
                                            <p class="card-text mb-0">{{playerDetails.playerHeight}}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Weight:</span>
                                            </div>
                                            <p class="card-text mb-0">{{playerDetails.playerWeight}}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Class:</span>
                                            </div>
                                            <p class="card-text mb-0">{{playerDetails.playerClass}}</p>
                                        </div>
                                        <div class="d-flex flex-wrap my-50">
                                            <div class="user-info-title">
                                                <span
                                                    class="card-text user-info-title font-weight-bold mb-0">Hometown:</span>
                                            </div>
                                            <p class="card-text mb-0">{{playerDetails.playerHometown}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Plan Card starts-->
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="card plan-card border-primary">
                        <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                            <h5 class="mb-0">Current Plan</h5>
                            <span class="badge badge-light-secondary" data-toggle="tooltip" data-placement="top"
                                title="Expiry Date">July 22, 2020 <span class="nextYear"></span>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="badge badge-light-primary">Basic</div>
                            <ul class="list-unstyled my-1">
                                <li>
                                    <span class="align-middle">5 Users</span>
                                </li>
                                <li class="my-25">
                                    <span class="align-middle">10 GB storage</span>
                                </li>
                                <li>
                                    <span class="align-middle">Basic Support</span>
                                </li>
                            </ul>
                            <button class="btn btn-primary text-center btn-block" rippleEffect>Upgrade Plan</button>
                        </div>
                    </div>
                </div>
                <!-- /Plan CardEnds -->
            </div>
            <!-- User Card & Plan Ends -->

            <!-- User Timeline & Permissions Starts -->
            <div class="row">
                <!-- information starts -->
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-2">About Player</h4>
                        </div>
                        <div class="card-body">
                            <p>{{playerDetails.aboutPlayer}}</p>
                            
                        </div>
                    </div>
                </div>
                <!-- information Ends -->

                <!-- User Permissions Starts -->
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <!-- User Permissions -->
                    <div class="card">


                    </div>
                    <!-- /User Permissions -->
                </div>
                <!-- User Permissions Ends -->
            </div>
            <!-- User Timeline & Permissions Ends -->
        </section>
    </div>
</div>