<div class="" style="background-color: #fff; height: calc(95vh);">
  <div class="row">
    <div class="col-sm-2">
      <app-filtersidebar (sportsChanged)="updateSportsFilter($event)" (levelsChanged)="updateLevelsFilter($event)"
      (programsChanged)="updateProgramsFilter($event)" (yearsChanged)="updateYearsFilter($event)"></app-filtersidebar>
    </div>
    <div class="col-sm-10">
      <div style="margin: 20px; width: 100%;" [ngStyle]="{ 'visibility': items.length ? 'visible' : 'collapse'}">
        <mat-form-field>
          <mat-label>Sort</mat-label>
          <mat-select #sortSelect [(value)]="sortplayerOrder">
            <mat-option value="LastName">Last Name</mat-option>
            <mat-option value="LastName_desc">Last Name-Desc</mat-option>
            <mat-option value="FirstName">First Name</mat-option>
            <mat-option value="FirstName_desc">First Name-Desc</mat-option>
            <mat-option value="sport_obj">Sport</mat-option>
            <mat-option value="sport_obj_desc">Sport-Desc</mat-option>
            <mat-option value="level_obj">Level</mat-option>
            <mat-option value="level_obj_desc">Level-Desc</mat-option>
            <mat-option value="years_lst">Year</mat-option>
            <mat-option value="years_lst_desc">Year-Desc</mat-option>
            <mat-option value="program_obj">Program</mat-option>
            <mat-option value="program_obj_desc">Program-Desc</mat-option>
          </mat-select>
        </mat-form-field>         
      </div>
      <div class="flexcontainer">
        <div
          *ngFor="let item of items | sortplayer: sortplayerOrder | filterplayer: selectedYear: []: []: [] | filterplayer: []: selectedLevel: []: [] | filterplayer: []: []: selectedProgram: [] | filterplayer: []: []: []: selectedGame ; let idx = index"
          class="item-container">
          <mat-card (click)="goToPlayer(item.id)" style="cursor: pointer !important">
            <img mat-card-image style="height: 140px; width: 220px; background-color:lightgray;"
              [attr.src]="item.ProfileImage ? apiURL + item.ProfileImage.url : ''">
            <mat-card-content style="margin-bottom: 0px;">
              <span style="font-size: 18px;overflow: hidden;text-overflow: ellipsis;"> {{item.FirstName}}
                {{item.LastName}}</span>
            </mat-card-content>
          </mat-card>
        </div>
      </div> 
    </div>
  </div>
  <mat-spinner *ngIf="loadingData" style="left: 45%;"></mat-spinner>
</div>