<div class="position-relative">
    <h2>Update Roster</h2><br>
</div>

<div class="card mb-4">
    <div class="card-body p-5">
        <div class="position-relative">
            <form  >
               <!-- #updatRosterForm="ngForm" (submit)="updateRoster(updatRosterForm)" -->
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer01"> Name</label>
                        <input type="text" class="form-control" required name="name" [(ngModel)]="rosterDetails.name"
                            ngModel>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer02">Jersy Number</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.playerNumber" required
                            name="playerNumber" ngModel>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer03">Level</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.level"
                            placeholder="Enter Level" required name="level" ngModel>

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer03">School</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.school"
                            placeholder="Enter school name" required name="school" ngModel>

                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer01">Rostert Id</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.rosterId"
                             required name="rosterId" ngModel>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="validationServer01">Sport</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.sport"
                            value="Enter Sport name" required name="sport" ngModel>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationServer01">Year</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.year" value="Enter year"
                            required name="year" ngModel>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationServer01">Address</label>
                        <input type="text" class="form-control" [(ngModel)]="rosterDetails.address"
                            value="Enter Product Name" required name="address" ngModel>
                    </div>

                </div>

                <button class="btn btn-primary" type="submit">Update Roster</button>
            </form>
        </div>
    </div>
</div>