<div class="row">

  <div class="col-lg-3 col-md-6 col-12" *ngFor="let team of teamsCollection">
    <div class="card card-developer-meetup">
      <div class="bg-light-primary rounded-top text-center">
        <a href="sportspip/teamsdetails?teamId={{team.id}}">
        <img src="{{ serverUri + team.TeamThumbnail[0].url}}" alt="Logo" />
      </a>

      </div>
      <div class="card-body">
        <div class="meetup-header d-flex align-items-center">
          <div class="my-auto">
            
              <h4 class="card-title mb-25">{{team.TeamName}}</h4>
            
          </div>
        </div>
        <div class="media">
          <div class="avatar bg-light-primary rounded mr-1">
            <div class="avatar-content">
              <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
            </div>
          </div>
        </div>
        <div class="media">
          <div class="avatar bg-light-primary rounded mr-1">
            <div class="avatar-content">
              <i data-feather="map-pin" class="avatar-icon font-medium-3"></i>
            </div>
          </div>
          <div class="media-body">
            <h6 class="mb-0">{{team.Date}}</h6>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
